[2011-02-14 23:19] sijis opened #1 "php v2 example broken"
In trying the example, i get the following error:

<pre>
[sijis@host php (master)]$ php -f example.php
PHP Warning:  require_once(lib/Oauth.php): failed to open stream: No such file or directory in /home/sijis/yelp-api/v2/php/example.php on line 9
PHP Stack trace:
PHP   1. {main}() /home/sijis/yelp-api/v2/php/example.php:0
PHP Fatal error:  require_once(): Failed opening required 'lib/Oauth.php' (

[2011-03-23 20:05] gigabo opened #2 "js v2 example for jquery 1.5.1"
Hi,

Changing the jquery version from 1.4.4 to 1.5.1 breaks the example at yelp-api/v2/js/example.html.

The culprit seems to be the '_' parameter that gets automatically added to the request, which can be disabled by adding a "cache: true," to the $.ajax() call.

Thanks,

Bo

[2011-04-12 05:33] kyleconroy opened #3 "Python v2 example is broken"
Requesting a URL with zero query parameters results in "Invalid Signature" errors. Happens in both business.py and search.py

[2011-07-07 05:33] #1 closed, assigned to nobody

[2011-08-07 18:54] jay-depot opened #7 "js example help"
I'm trying to integrate the js example with Drupal 6, which has a limits my jQuery to version 1.2.6. jQuery 1.2.6 seems to ignore the jsonpCallback property of the $.ajax object, leaving the value of the parameter randomized. This causes Yelp's API server to send back a 400: Bad Request response, I assume because the signatures don't match.

Is there a way to work around this problem?

[2011-08-08 19:44] #7 closed, assigned to nobody

[2011-12-20 02:04] xiangcool457 opened #8 "PHP:INVALID_SIGNATURE"
i got a response code as "Expired timestamp: given 1324343351 and now 1324343681 has a greater difference than threshold 300 )", so i changed class OAuthServer:protected $timestamp_threshold = 600(Before is 300),but it do not work.My meaning was it still demonstrated "given 1324343351 and now 1324343681 has a greater difference than threshold 300 "
Those who let me puzzled is the OAuthException co

[2011-12-20 03:20] #8 closed, assigned to nobody

[2012-01-17 23:05] tbass134 opened #9 "Expired timestamp"
on IOS 4.2.1, the response for the yelp data is

{
  "error": {
    "text": "Signature was invalid",
    "id": "INVALID_SIGNATURE",
    "description": "Expired timestamp: given 1326837029 and now 1326841425 has a greater difference than threshold 300"
  }
}

on an IOS 5 device, running the same code, everything is fine.

[2012-01-20 08:13] sobiz10 opened #10 "API v2 - PHP - INVALID_SIGNATURE"
i'm trying to query business api with my keys (using example.php in the git). it simply throws following error.

(
    [error] => stdClass Object
        (
            [text] => Signature was invalid
            [id] => INVALID_SIGNATURE

could someone who have implemented https://github.com/Yelp/yelp-api/tree/master/v2/php can give a hand here?

[2012-01-20 20:04] #10 closed, assigned to nobody

[2012-01-20 20:09] #3 closed, assigned to nobody

[2012-01-20 21:18] #9 closed, assigned to nobody

[2012-01-20 21:21] #2 closed, assigned to nobody

[2012-02-14 19:16] JustinBeckwith opened #11 "Add a link to the C# API"
Hey there.  I wrote a NuGet package for using the Yelp API with C#:
https://github.com/JustinBeckwith/yelpsharp

Could you add a C# section to the examples section?

[2013-07-04 08:35] tushtush opened #14 "Category list missmatch"
Hello,
How come the category lists provided do not match those on site? (http://www.yelp.com/developers/documentation/category_list)

For example "Gelato" is in the webpage but not in any of the lists...

[2013-07-21 16:57] tleite opened #15 "Rating as search parameter"
Is it possible to create a search with rating as one of the parameters?

Example:
parameters.push(['rating', rating]);

[2014-03-06 07:22] objectiveSee opened #18 "Add README to iOS Project"
A README explaining how to use the iOS oAuth library would be helpful. Right now you basically need to guess as to where to put the oAuth key (OAuthTest.m btw)

[2014-03-06 07:32] objectiveSee opened #19 "Add README to iOS Project"
A README explaining how to use the iOS oAuth library would be helpful. Right now you basically need to guess as to where to put the oAuth key (OAuthTest.m btw).

The project is also non-ARC and not easily integrated into any iOS project. Would be nice to see an ARC update, or a recommended CocoaPod instead.

[2014-06-17 03:13] dennyglee opened #22 "python example fails with HTTP error 400"
When running the python example on OSX, I get the error:
Encountered HTTP error 400. Abort program.

Digging in further, it appears that the issue is under def request when it is making the initial connection.

[2014-07-07 04:13] iEchoic opened #29 "C# implementation generates invalid signature, as it does not consider base string"
The C# implementation, when my key information is subbed in and ran, gives the following error:

REQUEST:
------------------------------------------------------------------------
GET http://api.yelp.com/v2/search/?term=thai&location=Seattle%252C%2520WA&limit=3 HTTP/1.1
Authorization: OAuth oauth_consumer_key="GzeIA9K2LG30d2zVM7FVow",oauth_nonce="b9c6e0f655e34e4782084457b0d82b07",oauth_signature_me

[2014-07-15 20:06] gceaser opened #30 "C# example is double encoding the values"
In Visual Studio 2013, the following line of code appears to be incorrect:
query[queryParam.Key] = SimpleOAuth.Utilities.UrlHelper.Encode(queryParam.Value);

I go the sample to work by replacing the above line of code with the following line of code:
query[queryParam.Key] = queryParam.Value;

[2014-08-09 22:15] dsestes opened #32 "ARC"
Is there a quick way to implement this in a project that uses ARC? I pasted it into my app, and got 41 issues related to ARC because the code is full of retain / release / auto retain.

[2014-08-11 21:00] #32 closed, assigned to nobody

[2014-08-13 15:09] tathougies opened #33 "Python sample fails when business ID contains special characters"
Hello!

Using the Search API python sample to search for restaurants sometimes fails with the error:

Traceback (most recent call last):
  File "search-yelp.py", line 170, in <module>
    main()
  File "search-yelp.py", line 164, in main
    query_api(input_values.term, input_values.location)
  File "search-yelp.py", line 149, in query_api
    response = get_business(business)
  File "search-yelp.

[2014-08-14 16:17] MateenKadwaikar opened #34 "HTTP request failed."
HTTP request failed, got The remote server returned an error: (400) Bad Request.
, abort program.

[2014-08-15 20:08] #34 closed, assigned to nobody

[2014-08-15 20:10] #19 closed, assigned to nobody

[2014-08-15 20:11] #18 closed, assigned to nobody

[2014-08-16 17:00] Antrikshy opened #35 "C# API returns HTTP 400 error"
I just downloaded, extracted the folder, built the API and ran the exe file as described, with similar arguments, and it does not work. Is there another setup step needed or is the library not working for some reason?

I'm new to C#.

[2014-08-24 21:21] AhmedSamy opened #36 "Publish on composer"
In order to manager dependencies in PHP project it would be great if we can publish it on composer

[2014-08-28 06:32] KaBlaize opened #37 "Objective-c sample code does not working (auth failed, err code: 403)"
Hi,
The objective-c sample code does not working with API v2.
And some of other people reported the API authentication stop working on 18th Aug.
See https://groups.google.com/forum/#!topic/yelp-developer-support/WmcSouYmjso
The returned message only a standard 403 message from the server as you can see in the linked forum topic.

Please fix this issue.

[2014-09-10 13:27] davecom opened #38 "Add License"
There does not appear to be a license file indicating under what terms the source code can be reused.

[2014-10-24 16:17] john-sandall opened #41 "Python oauth library out of date"
Python script's requirements.txt has oauth2==1.0, this is out of date and causes script to fail.

[2014-10-28 18:42] #38 closed, assigned to tomelm

[2014-10-29 01:05] #22 closed, assigned to nobody

[2014-12-16 22:01] #36 closed, assigned to nobody

[2014-12-16 22:02] AhmedSamy opened #47 "Time for version 1.0"
it's time to create release tag on GitHub for proper dependency management

[2014-12-19 18:48] #30 closed, assigned to mittonk

[2015-01-02 14:34] davejohn opened #48 "Updating search term language"
I think it would be helpful to update [the documentation](http://www.yelp.com/developers/documentation/v2/search_api) to clarify that the `term` in the search parameters can be fed the name of the restaurant you're looking for. This saved me a lot of time once I realized it takes more than generic terms like "dinner" etc.

Just a suggestion, thanks for the great work!

![](http://i.imgur.com/LAvJU

[2015-01-02 18:28] tomelm commented on #48
Thanks for the suggestion! We'll update the documentation to make it clearer

[2015-01-12 21:51] mittonk commented on #48
At a high level: This works roughly like the search-term box on the Yelp website or mobile app;  you can also search for "Joe's Diner", "cheap ham and cheese sandwich", etc.

[2015-01-15 19:54] bounaux commented on #22
hey guys, quick question on using the yelp api search by category example - i tested to query golf courses in seattle. when i set the max number of entries to return anything less than 20 i got valid response back, but when the max number of entries is changed to 21, i received http error 400 all the time - why is that?

[2015-01-15 20:29] mittonk commented on #48
@bounaux wrote in mostly-unrelated #22 :

Search returns at most 20 results per request, might be worth clarifying that as well.
http://www.yelp.com/developers/documentation/v2/search_api

[2015-01-15 20:30] mittonk commented on #22
@bounaux : That looks unrelated, let's discuss that over in #48 .

[2015-01-16 21:07] mittonk commented on #35
OK, got a Windows box up and running to debug.
Visual Studio 2013 and .NET 4.0 work as expected.

Trying some other versions...

[2015-01-16 21:08] mittonk commented on #29
OK, got a Windows box up and running to debug.
Visual Studio 2013 and .NET 4.0 work as expected.

Trying some other versions...

[2015-01-22 17:29] mittonk opened #51 "Need JavaScript example"
We used to have a JS example, but it was removed for security reasons in #17 .

We should have a JS example that doesn't expose OAuth credentials as publicly.  Doesn't need to be super-high-security, but shouldn't be downright dangerous to emulate.

I wonder if Node.js or something similar might be close enough to fill this niche?

[2015-01-27 19:01] lechatpito commented on #33
This change is still not updated in the example.

[2015-01-27 20:53] mittonk commented on #33
Taking a look.

[2015-01-31 20:59] mittonk commented on #35
Visual Studio 2013 and .NET 4.5.1 works as expected.  @pvanroos --- I'd love to compare to your setup, see why you can reproduce this issue and I can't.

[2015-01-31 20:59] mittonk commented on #29
Visual Studio 2013 and .NET 4.5.1 works as expected.  @iEchoic  --- I'd love to compare to your setup, see why you can reproduce this issue and I can't.

[2015-01-31 21:11] pvanroos commented on #35
Sorry Ken.   Let me test today.

Sent from my iPhone

[2015-01-31 21:34] mittonk commented on #33
Reproduced using
[code]
Newer stacktrace is:
[code]
Whipping up a slightly-larger version of @tathougies fix.

[2015-02-02 14:23] #33 closed

[2015-02-04 02:49] mittonk commented on #35
@pvanroos : Actually, that's pretty good news to me; that indicates this might just be a different error message around #30 / #43 .

I'll see if I can confirm with a version of master before that fix.

[2015-02-12 23:31] jamesaspence opened #54 "PHP Example throws INVALID_OAUTH_CREDENTIALS"
When running sample.php inside terminal, I get the following code:
stdClass Object
(
    [error] => stdClass Object
        (
            [text] => The OAuth credentials are invalid
            [id] => INVALID_OAUTH_CREDENTIALS
        )

)

Anything to be done to fix this? I'm struggling to implement this API in a current project.

[2015-02-12 23:43] virgytam commented on #54
Hi James, are you running example.php without editting the oauth credentials? By default, those are blanked out

`// Set your OAuth credentials here`
`// These credentials can be obtained from the 'Manage API Access' page in the`
`// developers documentation (http://www.yelp.com/developers)`
`$CONSUMER_KEY = NULL;`
`$CONSUMER_SECRET = NULL;`
`$TOKEN = NULL;`
`$TOKEN_SECRET = NULL;`

and you need t

[2015-02-13 16:49] jamesaspence commented on #54
That was part of the issue. I got the example code working. However, in my own adaptation of the code, I'm getting an INVALID_SIGNATURE error. I'm assuming I encrypted the string wrong somehow, but I'm not sure how, since I'm using the exact code provided.

[code]

returns:

[code]

[2015-02-17 17:16] virgytam commented on #54
What does $signedUrl look like? It looks like when you append http_build_query($params) to the url, it may not be added that '&' between the oauth params and the query params.

In the code sample, the query params are appended to the api url before the entire url is signed so that might fix the issue.

[2015-02-17 20:49] jamesaspence commented on #54
Could you give me an example of what that might look like?

Here's $signedUrl(with creds replaced with <> brackets):
`GET&http%3A%2F%2Fapi.yelp.com%2Fv2%2Fsearch&oauth_consumer_key%3D<CONSUMER_KEY>%26oauth_nonce%3D<NONCE>%26oauth_signature_method%3DHMAC-SHA1%26oauth_timestamp%3D1424205944%26oauth_token%3D<TOKEN>%26oauth_version%3D1.0http://api.yelp.com/v2/search?oauth_consumer_key=<CONSUMER_KEY>&o

[2015-02-18 15:24] jamesaspence commented on #54
To give you more information, the consumer key, nonce, etc. appear to be hashed in the first part (i.e. up until `%3D1.0http://api.yelp.com/v2/`, and after that are just plain string. So I don't encode that second part of credentials

[2015-02-18 17:18] jamesaspence commented on #54
NEVERMIND! I got it! I had screwed it up somewhere along the line. I had added the parameters at the end of the signed url for some weird reason accidentally. So it was throwing an error. Got it working now, thanks.

[2015-02-18 17:18] #54 closed

[2015-02-23 00:45] mittonk opened #55 "Convert all examples to use HTTPS"
SSL is good.  Keeps private stuff private.

The Yelp API is available using https, but not all examples use it all the time.  They should!

A few obvious flags:
[code]

We should audit the examples, find any that use plain http, and upgrade them to https.

[2015-04-05 01:30] fiza89 commented on #29
im facing the same issue...is there any solution??

[2015-04-05 02:31] mittonk commented on #29
@fiza89 , what version of Visual Studio and .NET are you using?

[2015-04-05 03:19] mittonk commented on #29
Repro'd an HTTP 400 error using VS 2013 Community, .NET 4.0, and stale version of these examples: 9ee4692.

Rolled forward to c94870a, got an HTTP 400 with this error message.

Rolled forward again to pick up the #43 fix, get the expected results (HTTP 200, with some nice JSON).

So, I'm going to say #43 fixes this.

@fiza89 , @iEchoic , et al: Please make sure your version of yelp-api contains co

[2015-04-05 03:19] #29 closed

[2015-04-05 03:22] mittonk commented on #35
@pvanroos : Great, was able to repro the failure by checking out a version without the #43 commits, with Visual Studio 2013 Community and .NET 4.0.

Rolling forward to get that commit resolved the issue.

So, I'll say #43 resolves this issue.  Thanks for the check, that helped!

[2015-04-05 03:22] #35 closed

[2015-04-05 04:03] mittonk commented on #55
C# example works on https without other modifications, good.

Perl example complains:
[code]
Installing `Mozilla::CA` did the trick, but does raise the bar of entry a little.  @tomelm , any opinions?

[2015-04-06 01:02] fiza89 commented on #29
its working fine now.... but sometimes it returns invalid signature and sometimes the correct result.
What could be the issue.??

[2015-04-06 20:32] tomelm commented on #55
I don't think it's too bad having that ``Mozilla::CA`` dependency. If all you need to do is install it I think it should be okay!

[2015-05-25 04:16] resourcemode commented on #9
Encounter same issue on my web app. Any solution?

[2015-06-02 13:51] txt3rob opened #56 "PHP phone search"
PHP phone does not search via the phone number

the below should resolve that for uk numbers

[code]

[2015-06-02 17:11] virgytam commented on #56
Hi Robbie, what does your final query string look like? Also, what response are you getting?

Here's a quick example of what the phone and cc params would look like for Great Queen Street in London:

http://api.yelp.com/v2/phone_search/?cc=GB&phone=%2B44+20+7242+0622

[2015-06-03 04:51] mittonk commented on #56
@txt3rob : Sounds like you're trying to contribute example code for v2 Phone Search, to be added to `v2/php/sample.php`.  Is that right?

Code looks pretty good, a comment documenting the inputs might be a good addition.

I'd probably call the first input `$phone` rather than `$term` for clarity, but that's more personal preference.

[2015-06-03 08:18] txt3rob commented on #56
sorry it was a bit of code to be submitted as an example for the phone search as the example code provided does not show this and i had to work it out.

I get results from this just fine.

[2015-06-23 19:24] MatthewHendy commented on #32
in my build settings the 'Objective-C Automatic Reference Counting' flag is set to yes yet i have 94 errors relating to 'release' , 'autorelease' , ARC restrictions, and ARC casting rules

[2015-06-24 15:48] mittonk commented on #32
Hm, interesting.

[2015-06-24 15:52] mittonk opened #57 "Objective-C OAuth library does not use ARC"
@MatthewHendy writes in #32 :

First step: Repro and find a few of these 94 errors.

@MatthewHendy: Do you have 2-3 example errors we could look at?

[2015-06-24 15:55] mittonk commented on #57
@SSheldon , feel like taking a first pass?

[2015-06-25 01:36] SSheldon commented on #57
@MatthewHendy, sorry for the trouble! This issue is because the OAuth library used in our Objective-C code sample does not use ARC. It should work if you add the `-fno-objc-arc` compiler flag to the OAuth files (like in these steps: http://stackoverflow.com/a/6658549).

On a related note, if you have any ARC-compatible OAuth libraries to recommend, I'd be happy to hear it :)

[2015-06-28 06:29] franklingu opened #58 "the node js API library returns "One or more parameter is missing: oauth_consumer_key""
as title

[2015-06-28 23:03] mittonk commented on #58
Hm, I remember this working last time I ran it.

@franklingu : Have you already filled in your own `oauth_consumer_key` value into the example script?

[2015-06-29 01:32] franklingu commented on #58
Yes, the default node oauth actually puts those info in header but I think
yelp requires them as parameter in url

Gu Junchao
Major in Computer Engineering, National University of Singapore
Primary Email: *franklingujunchao@gmail.com <franklingujunchao@gmail.com>*
NUS Email: *A0105750@ <A0105750@nus.edu.sg>u.nus.edu <http://u.nus.edu>*

On Mon, Jun 29, 2015 at 7:03 AM, Ken Mitton <notifications@gi

[2015-06-29 07:25] mittonk commented on #58
OK, looks like the Node.js example is actually part of a separate repo, https://github.com/olalonde/node-yelp .  Poking.

[2015-06-29 15:10] MatthewHendy commented on #57
That seemed to work SSheldon, thank you!

[2015-06-29 15:20] franklingu commented on #58
well, that is actually reported by me too ;P

[2015-07-02 17:51] mittonk commented on #58
@franklingu : That's a pretty snazzy blog post.

Debugging over in https://github.com/olalonde/node-yelp/issues/8 , closing this as a duplicate.

[2015-07-02 17:52] mittonk commented on #58
Duplicate of https://github.com/olalonde/node-yelp/issues/8 , debugging over there.

[2015-07-02 17:52] #58 closed

[2015-09-15 16:54] mittonk opened #60 "Remove stale v1 example"
The v1 API has been shut down (https://www.yelp.com/developers/faq).  So, the v1 example no longer works; we should remove it.

Sadly, this leaves us with no JS examples --- see #51 .

[2015-09-15 17:21] mittonk commented on #60
The removed `/business_review_search` endpoint shows a variety of failure modes, most likely:
* 404
* {"message": {"text": "Invalid YWSID", "code": 2, "version": "1.1.1"}, "businesses": []}

[2015-09-15 17:22] mittonk commented on #60
Filed pull request #61 .

[2015-09-15 17:29] mittonk commented on #60
@virgytam merged this, no more confusing broken example!

[2015-09-15 17:29] #60 closed

[2015-09-19 06:08] maltzj opened #62 "run.sh script for that java example silently fails when run on windows"
I was working with a windows user at a hackathon today and he tried to follow the directions on the readme only to get a silent failure.

Maybe we should include a .bat script for windows folks?

[2015-09-19 14:24] mittonk commented on #62
Sounds like you're talking about the Java example, `v2/java/run.sh`.  Sounds like a plan.

[2015-09-19 16:03] maltzj commented on #62
Yup.  Thanks for understanding my 2 AM tickets :)

[2015-09-19 22:09] AustinDu opened #63 "Request for Swift Integration"
With @BlakeBrown

It would be really helpful to update your api to support Swift. Here is a third-party repository that already implements it. Although it is somewhat rudimentary, it is effective at the same time.

https://github.com/codepath/ios_yelp_swift

Thanks,
Austin & Blake (from HTN 2015)

[2015-09-20 23:42] mittonk commented on #63
Nice, I'll have a look.

[2015-09-20 23:43] mittonk commented on #55
Great, I'll go that direction.

[2015-10-07 17:20] mittonk commented on #55
OK, all the documentation now says HTTPS; now's a good time to update the examples.

Looking at `Mozilla::CA`.

[2015-10-08 12:02] sachintaware opened #65 ""Expired timestamp: given 1444301292 and now 1444301624 has a greater difference than threshold 300"
I have verified the time on the server and that is correct. How to resolve or debug this error?
This works on the local machine but fails on server. It worked till recent time,but started failing without reason.

[2015-10-08 13:27] mittonk commented on #65
@sachintaware ,
Hm, let's see what we can figure out.

1. What timezone do your server & local machine think they're in?  "date" on each machine will show that:
[code]
2. What language are you using (Python, PHP, etc)?

3. Does this affect the simple example scripts, or just your full application?

[2015-10-09 06:55] sachintaware commented on #65
Hello our servers are in US east time zone. We are using PHP. I am accessing it from India which is GMT+5:30. It works when I send a request from local,but fails on server.

[2015-10-09 15:01] mittonk commented on #62
`run.sh` is pretty simple; no `Makefile`, `maven`, `ant`, or other dependency management.

So, a 3-line `.bat` seems like a fine Windows version.

Time to go spin up my Windows box.

[2015-10-09 16:15] mittonk commented on #65
@sachintaware :

Hm, this is ~7 minutes different.  That sounds like either a long-running process, or server time skew.

1. Could you try using the PHP example, with no modifications other than adding your OAuth info?   I want to rule out any delays in a long script that hits the Yelp API as one of several activities.

2. Are you running NTPd or a similar thing to keep your server's clock up-to-d

[2015-10-09 20:15] #55 closed

[2015-10-12 11:35] sachintaware commented on #65
Sorry for the delayed response,I was away for the time.I will try it out.Also,I had some server side issue with Laravel,which might have caused the error. I will test and update with my results.
@mittonk

[2015-10-13 06:13] sachintaware commented on #65
@mittonk I believe there was a server side issue which prolonged the request and hence the error.I had to update the server size at it ws out of space.Once I did that the issue was resolved. I will keep the issue open for the next 24hrs,in case I face it again,if not I will close the thread. Thank you for the inputs.

[2015-10-13 15:54] mittonk commented on #65
Wonderful, that would indeed explain what we saw here.

[2015-10-14 23:18] #15 closed

[2015-10-14 23:19] tomelm commented on #41
Closing this since it doesn't seem to have come up again recently and @mittonk wasn't able to reproduce.

[2015-10-14 23:19] #41 closed

[2015-10-14 23:25] tomelm commented on #47
As it stands, I'm not sure that versioning this repo makes a ton of sense. We'd have to do version bumps for a lot of unrelated changes and following the changes and relevant versions would get complicated.

As we have time I'm imagining splitting this out would be better, but in the meantime I don't see versioning this repo as a good idea. @mittonk let me know what you think.

[2015-10-14 23:31] tomelm commented on #51
Since node.js is server-side the same design principles wouldn't apply (as far as making requests without exposing credentials).

Would we want to focus on client-side or server-side here?

[2015-10-14 23:37] tomelm commented on #56
@txt3rob if you wanted to create a pull request with what you want to add we can go from there!

[2015-10-15 02:25] tomelm opened #68 "Category lists outdated"
I think we should remove the folder, it hasn't been updated in 4 years and we have a JSON dump here: https://www.yelp.com/developers/documentation/v2/all_category_list

@mittonk thoughts?

[2015-10-15 04:31] sachintaware commented on #65
@mittonk yes that was the issue,a server overload due to size limit prolonged the request. Thank you for the help and inputs. Cheers

[2015-10-15 04:31] #65 closed

[2015-10-15 15:07] mittonk commented on #47
I'd agree --- let's version separate single-language repos as we create them.

[2015-10-15 15:07] #47 closed

[2015-10-15 16:28] mittonk commented on #51
Most of the interest I've seen is client-side; I don't have any particularly relevant quotes handy.

[2015-10-15 16:32] mittonk commented on #68
Yep, my plan is to remove this directory and supply a direct link to the JSON dump on that page.  (That download URL is still in some flux).

(I also half-remember this being a code dependency for something, tracking that down.)

[2015-10-15 19:48] #63 closed

[2015-10-15 19:49] mittonk commented on #37
Works fine for me now, please open a fresh issue if you hit more problems.

[2015-10-15 19:49] #37 closed

[2015-10-15 19:51] mittonk commented on #48
@tomelm , you had some ideas on new language; tossing you this.

[2015-10-15 19:52] mittonk commented on #68
Dup of #14 .

[2015-10-15 19:52] #68 closed

[2015-10-15 19:53] mittonk commented on #14
My plan is to remove this directory and supply a direct link to the JSON dump on that page. (That download URL is still in some flux).

(I also half-remember this being a code dependency for something, tracking that down.)

[2015-10-15 19:54] mittonk commented on #11
Here's another for you, @tomelm .

[2015-10-16 01:19] tomelm commented on #11
#70

[2015-10-23 15:51] mittonk commented on #14
OK, there's now a nice downloadable JSON file at
* https://www.yelp.com/developers/documentation/v2/all_category_list/categories.json

We no longer need local copies, removing them.

[2015-10-23 15:52] #14 closed

[2015-10-23 22:15] mittonk commented on #11
Merged #70 .

[2015-10-23 22:15] #11 closed

[2015-10-23 22:16] #62 closed

[2015-10-29 21:29] #57 closed

[2015-11-02 16:54] mittonk opened #77 "Python file should have UTF-8 coding pragma"
Maybe also some PEP8 newlines between functions.

[2015-11-02 18:49] tomelm commented on #77
@mittonk thoughts on going all the way and adding [pre-commit](http://pre-commit.com/)?

[2015-11-02 19:01] dlgallagher commented on #77
I'm a big fan of adding pre-commit

[2015-11-02 19:14] mittonk opened #78 "Add pre-commit/pre-commit to yelp-api"
https://github.com/pre-commit/pre-commit has nice linters and checks across several languages.  Sounds like a nice thing to have here.

[2015-11-02 19:15] mittonk commented on #77
I am too --- but that's a bigger change so we can do it separately as #78.

[2015-11-02 19:22] mittonk commented on #77
Huh, we've already got a coding pragma:
[code]
Was I looking at a stale branch?

[2015-11-12 20:53] mittonk opened #80 "Link to Yelp/yelp-python"
https://github.com/Yelp/yelp-python is totally a thing now.  Let's send some people that way.

[2015-11-12 21:20] mittonk opened #81 "Update Python example code in view of yelp-python clientlib"
https://github.com/Yelp/yelp-python is much more flexible than our little Python `sample.py`.
Should the Python example:
1. Go away entirely, and just point to the clientlib?
2. Demonstrate how to use the clientlib?
3. Turn into an extra-repo example of how to use the clientlib, sort of like https://github.com/Yelp/yelp-rails-example ?

[2015-11-12 22:32] tomelm commented on #81
My opinions:
1. Yes
2. No, readme should cover that
3. Possibly but I'm not sure it's necessary. I did that as a hackathon project, I don't know if there's a lot of value in it.

[2015-11-13 05:15] #80 closed

[2015-11-13 05:17] #77 closed

[2015-11-13 05:24] mittonk commented on #78
pre-commit is written in Python, but this yelp-api repo is used by people writing in many languages --- and some of those people won't have Python installed.

Reading
* http://pre-commit.com/#install

I think:
1. People who want to actually run the hooks will need Python installed.
2. People who want to clone or work on the repo without using the pre-commit hooks won't need Python installed.

@aso

[2015-11-13 05:47] mittonk commented on #81
Seems reasonable.  Let's leave some overlap time with both a link to the clientlib and the sample code, then send everyone over to the clientlib.

[2015-11-13 17:53] #78 closed

[2015-11-23 14:26] mittonk opened #86 "Add R example?"
We might want to do an example in R.

The tricky bit is OAuth:
* http://stackoverflow.com/questions/3391460/oauth-access-for-r

The simplest approach is probably an OAuth library in R:
* https://cran.r-project.org/web/packages/ROAuth/index.html has recent edits, which is a good sign.

[2015-12-09 14:18] today-is-a-good-day commented on #86
Yes, please! I'm struggling a lot with that and can't get past the oauth procedure.

The writer of this thread here suggests to use httr instead of ROAuth (apparently he has contacted the author of the ROAuth package who advised him to do so):
http://stackoverflow.com/questions/27728318/using-the-yelp-api-with-r-attempting-to-search-business-types-using-geo-coordin

I've tried out the approach but

[2015-12-09 16:09] mittonk commented on #86
@today-is-a-good-day : Thanks for the pointer on httr, and good luck!

[2016-01-11 22:16] mittonk opened #89 "C# clientlib heading in README.md misformatted as "C\""
I see it as:
[code]

[2016-01-11 22:25] #86 closed

[2016-01-11 22:26] mittonk commented on #86
@today-is-a-good-day : Added R example, have a look!

[2016-01-11 22:34] #89 closed

[2016-01-14 21:33] tomelm commented on #48
This is [finally] done

[2016-01-14 21:33] #48 closed

[2016-01-18 19:08] KaiWangCanada opened #91 "Could you provide more information in the API?"
Hi Yelp,

I am using Yelp API in an Android App, it works great. The only problem is, it only provides few images and reviews of a business. I want to get all the images and reviews, can you provide these information? Just want to know, thank you!

[2016-01-18 20:06] tomelm commented on #91
Hey @KaiWangCanada! Could you email api@yelp.com with this request? They may be able to help

[2016-01-18 20:06] #91 closed

[2016-01-19 14:53] KaiWangCanada commented on #91
Thank you, Tomelm.

[2016-01-20 21:45] abhidotnet opened #92 "How do I get ratings from the business response object?"
This is my code.

[code]
I am getting the following error.
```AttributeError: 'Business' object has no attribute 'rating_img_url'```

I am referring to the following documentation.
https://www.yelp.com/developers/documentation/v2/business

[2016-01-20 21:55] mittonk commented on #92
@abhidotnet : Are you using the Python clientlib over at https://github.com/Yelp/yelp-python ?

This sounds a lot like you're hitting https://github.com/Yelp/yelp-python/issues/27, but let's move the discussion over there if you're using the clientlib.

[2016-01-20 22:13] abhidotnet commented on #92
@mittonk Yes. I am using the Python client lib at https://github.com/Yelp/yelp-python

[2016-01-20 22:26] #92 closed

[2016-01-20 22:27] abhidotnet commented on #92
I think this is the way to get it.

```response2.business.rating.rating```

[2016-01-21 18:34] watterso commented on #92
@abhidotnet just a heads up, I released version 1.0.1 which made some changes to the clientlib. If you upgrade, getting the rating is a little simpler:
[code]

[2016-01-21 22:35] tenprint opened #93 "Interruption of service?"
I've been getting slow or non-reponses from the Yelp API today. I also received one instance of "INTERNAL_ERROR" response to my query.  I'm connecting using the Scribe library provide in the example code. Prior to today I haven't had any issues.  Is something going on with the service?  Thanks

Here's some of the error log:
` Process: com.[...], PID: 26642

[2016-01-22 03:37] mittonk commented on #93
Hm, that does sound like connectivity issues but I haven't seen anything noteworthy today.

1. What do you see for "ping api.yelp.com"?  This will take OAuth, Java, and the Yelp API application layer out of the loop.
2. Have you tried pinging other, non-Yelp sites?  That'll check for issues earlier on the path to `api.yelp.com`.
3. Are you still seeing issues?
4. What's your `oauth_consumer_key`?

[2016-01-22 04:04] tenprint commented on #93
Hi,

Thanks for the quick response.

This issue hasn't seemed to happen in the last couple hours

1. Here's the ping response from the device:
![image](https://cloud.githubusercontent.com/assets/11450465/12502070/b67d4de4-c092-11e5-8236-1ddb862bb3b0.png)

2. I tried `ping google.com` and the results are a little slower, latency 52, 38, and 39 ms out of three tries

3. In the last couple hours, I h

[2016-01-22 19:47] Soco45 opened #94 "Question about what we can do with Yelp API"
Hi there,

I have little/no programming experience so please excuse my non-technical language, or if I posted this in the wrong place.

I am looking for a way to search Yelp for businesses that are closed.  I don't see a way to do this at Yelp.com, but is this something that can be done through the Yelp API - if I hire someone to write a custom program?

Thanks,

Mike

[2016-01-23 18:45] mittonk commented on #94
@Soco45 ,

Searches via
* https://www.yelp.com/developers/documentation/v2/search_api
might return some closed businesses (`is_closed: true`), but you can't specify that you're looking only for closed businesses.

[2016-01-23 18:45] #94 closed

[2016-01-23 18:46] mittonk commented on #93
Looks like this was a sporadic network blip --- things seem to be working better now.

[2016-01-23 18:46] #93 closed

[2016-01-28 04:08] andrewmarmion opened #95 "Issue of returning erroneous results."
When making the a [call](https://api.yelp.com/v2/search/?ll=39.3726427,-76.6491456&radius_filter=1000&category_filter=bars) to the API with a radius filter of 1000, it's returning a bar that well outside the 1000m radius. How do I report this to Yelp

[2016-01-28 17:47] mittonk commented on #95
@andrewmarmion : I sometimes see this when combining distance and category filters, or similar.

What's your actual query, and what results are you receiving (both in and outside the radius)?  That'll help debug the issue.

[2016-01-28 17:58] andrewmarmion commented on #95
https://api.yelp.com/v2/search/?ll=39.3726427,-76.6491456&radius_filter=1000&category_filter=bars

It gives 3 results, the last one is well outside the radius.

[2016-01-28 18:36] mittonk commented on #95
OK, I see:
* http://www.yelp.com/biz/the-nickel-taphouse-baltimore : 684.893163987737
* http://www.yelp.com/biz/mt-washington-tavern-baltimore-2 : 634.8338865971878
* http://www.yelp.com/biz/m-v-bay-breeze-chesapeake-city : 73818.47505576596

Yeah, that's not close.  Poking.

[2016-01-28 18:38] mittonk commented on #95
Ah!  http://www.yelp.com/biz/m-v-bay-breeze-chesapeake-city has a "service area" polygon that covers the search area --- it's a boat, a "traveling floating bar" for the purpose of this search.  You can see the polygon on the map at that URL.

The dock (central location) is 73km away.

Well, that's the problem.  Now to see what to do about it...

[2016-01-28 19:14] andrewmarmion commented on #95
@mittonk Thanks for looking into this.

[2016-01-29 20:52] bkauyeung opened #96 "Yelp Deals"
Hi, I'm not sure how the yelp deals option works. It says that it takes a boolean value. I'm using python - I entered in a value of "1" and "true" different times, expecting the api to give me a business with a yelp deal. It didn't. It keeps returning the same business. I'm not sure whats going on... Also - the result never just tells me if the business has a deal or not - the only way I figured i

[2016-01-30 00:07] mittonk commented on #96
@bkauyeung , what's your example request (api.yelp.com/v2/search....deals_filter=.... )?

https://api.yelp.com/v2/search/?location=San Francisco, CA&deals_filter=true
gives good results for me:
[code]

https://www.yelp.com/developers/api_console can help demo some of the parameters.

[2016-01-30 00:13] mittonk opened #97 "Link to Android clientlib"
https://github.com/Yelp/yelp-android is now a thing.

@tomelm , you feel like handling the README word-smithing?

[2016-01-30 00:47] bkauyeung commented on #96
That makes sense to me when I put it into the api console, but for some reason - my code is not running even when i set the deals_filter = true!
When I run it through the python console (after altering the sample code to include deals_filter and offset, etc), it doesnt give me what the api console shoots out!

[2016-01-30 00:50] watterso commented on #96
@bkauyeung could you give us a sample of what you are running (**without** your credentials) ? Might help us debug this better.

[2016-01-30 00:56] bkauyeung commented on #96
How do I attach a py file? Its not letting me do it here

[2016-01-30 00:57] bkauyeung commented on #96
`API_HOST = 'api.yelp.com'
DEFAULT_TERM = ''
DEFAULT_LOCATION = 'San Francisco, CA'
DEFAULT_OFFSET = 0
DEFAULT_SORT = 2
DEFAULT_CATEGORY_FILTER = ''
DEFAULT_DEALS_FILTER = 1
SEARCH_LIMIT = 1
SEARCH_PATH = '/v2/search/'
BUSINESS_PATH = '/v2/business/'

# OAuth credential placeholders that must be filled in by users.
CONSUMER_KEY = ""
CONSUMER_SECRET = ""
TOKEN = ""
TOKEN_SECRET = ""

def request(ho

[2016-01-30 01:00] watterso commented on #96
@bkauyeung this looks like the code sample, I meant more what exactly you are requesting.

[2016-01-30 01:09] watterso commented on #96
Furthermore, if you are working in python, are you aware of the [yelp python package](https://github.com/Yelp/yelp-python)? Below is an example of how you can get what you want, although I don't condone my use of `__dict__`, I only used it for illustration purposes.

[code]

[2016-01-30 01:10] bkauyeung commented on #96
I will look at this again. Im a beginner at this stuff, so I will take a bit of time looking at this! Thhanks for your help!!

[2016-01-30 01:13] watterso commented on #96
No problem! I'm going to close this issue, feel free to post more questions.

[2016-01-30 01:13] #96 closed

[2016-02-01 22:05] mittonk commented on #81
When doing this, either handle `/v2/java` as well or kick off a separate ticket to wait a while and deal with it.

[2016-02-03 23:30] meydman commented on #51
I am trying to create a client side call to Yelp API, but getting Access-Control-Allow-Origin error in response. I have tried various solutions, but no avail. It seems Yelp is not responding with this header. Does Yelp allow API calls from JS client?

[2016-02-04 15:14] mittonk opened #99 "Does api.yelp.com support Access-Control-Allow-Origin header for client-side JS?"
@meydman writes in #51 :

@mittonk isn't sure.

[2016-02-04 15:15] mittonk commented on #51
@meydman : Not sure --- filed a separate issue #99 to discuss that aspect, we can debug over there.

Keeping this issue strictly about needing a JS example.

[2016-02-04 15:22] mittonk commented on #99
@meydman:
1. We don't have a restriction on JS clients, but it's hard to write client-side JS that doesn't expose your secrets.
2. Mind sharing your code (without your creds)?
3. What OAuth 1.0a library are you using?

I think we may be in a similar position to
* http://stackoverflow.com/questions/16509865/url-not-allowed-by-access-control-allow-origin

Doesn't look like our old security-weak exam

[2016-02-05 02:08] meydman commented on #99
@mittonk Thanks for looking into this. I do realize the security issue with client-side JS, which is unavoidable, that's why I was thinking that Yelp decided to block the access. Essentially the server does not respond with the CORS header. Here is the code I am using:

`var auth = {
                consumerKey: "",
                consumerSecret: "",
                accessToken: "",

[2016-02-10 00:02] aishubalachandran opened #100 "[Python] urllib2 returns HTTP Error 503: Service Temporarily Unavailable for yelp url"
Hi,
I generated the yelp api url by referring to the yelp-api code samples. It was working fine.
But suddenly, I have started getting Http 503 error on this line:
conn = urllib2.urlopen(signed_url)
This returns HTTP Error 503: Service Temporarily Unavailable for any yelp.com url.

Please let me know what Im missing.

Thanks!

[2016-02-10 00:38] watterso commented on #100
Hi @aishubalachandran can you post your code _without_ your credentials?
Also if you are using python you might find our client library helpful, find it here: [yelp-python](https://github.com/Yelp/yelp-python)

[2016-02-10 00:47] watterso commented on #97
this is closed by PR #98

[2016-02-10 00:47] #97 closed

[2016-02-10 22:07] aishubalachandran commented on #100
Hi,

Thanks for reaching back. I figured what the issue is:
So I think the IP of my remote box has been blocked by yelp. The API works fine in few other environments. Can you please help me in unblocking our IP address and tell me how to go about it?

Thanks!

[2016-02-10 22:48] watterso commented on #100
Glad this is somewhat resolved, for this kind of issue please email api@yelp.com describing your issue and include the following information:
- Your _Consumer Key_ found at [yelp.com/developers/manage_api_keys](https://www.yelp.com/developers/manage_api_keys)
- The ip address you think is blocked.

[2016-02-11 02:57] grhd76 opened #101 "$response variable not working?"
Greetings everyone! My background in programming is very limited. I have been trying to run the example PHP code but so far have been unsuccessful in retrieving any results.

I'm using the XAMPP program to run the file locally.
I have downloaded the oauth library, entered in all the api keys, and have left the original sample search terms in place.

When I run the file, I receive the error
#!/usr/

[2016-02-11 13:53] mittonk commented on #101
Hm, PHP example works as expected on my PHP 5.3.2 Linux test setup.

Let me try Windows & XAMPP.

`var_dump($response)` might give us more info.

[2016-02-11 14:01] mittonk commented on #101
Ah, https://www.apachefriends.org/index.html says XAMPP just released a PHP 7-based version.

@grhd76 : Could you do `php -v`?

[2016-02-11 14:30] mittonk commented on #101
OK, reproduced problem with both:
* PHP 5.6 on XAMPP on Windows
* PHP 7.0.2 on XAMPP on Windows

So this is either a Linux-vs-Windows thing, or a 5.3 vs 5.6-and-later thing.

@virgytam , any suggestions?

[2016-02-11 14:34] mittonk commented on #101
`var_dump($response)` gives `NULL`.  Digging into that.

[2016-02-11 14:51] mittonk commented on #101
Signed URL is valid --- capturing that and curing it directly works.  So OAuth is working, and PHP curl is failing.

[2016-02-11 15:00] mittonk opened #102 "PHP example should give diagnostics when curl fails"
#101  would have been a lot faster to debug if we had diagnostics like:
* http://stackoverflow.com/questions/8227909/curl-exec-always-returns-false

[code]

We should add a try-except like that.

[2016-02-11 15:00] mittonk commented on #101
http://stackoverflow.com/questions/8227909/curl-exec-always-returns-false

gives:
[code]

That's an error we can work with, excellent.

(The PHP example should probably give that level of diagnostics: filed #102.)

[2016-02-11 15:15] mittonk commented on #101
OK, http://stackoverflow.com/questions/29822686/curl-error-60-ssl-certificate-unable-to-get-local-issuer-certificate (in particular, the "XAMPP Server" answer)  did the trick.  I can now run the example code on Windows using XAMPP.

Now, to get this written up in a more coherent manner...

[2016-02-11 15:23] #101 closed

[2016-02-11 21:58] watterso commented on #100
I am going to go ahead and close this issue.

[2016-02-11 21:58] #100 closed

[2016-02-16 20:58] RitwikChatterjee opened #104 "Search APIs failing on PostMan"
Hi,
I am trying to make Yelp Search API calls from PostMan and it is failing with the following error message. Please help.

[code]

Here is how the request is being sent by PostMan:

`https://api.yelp.com/v2/search?term=food&location=San+Francisco&oauth_consumer_key=XXXXXXGseOgew&oauth_token=XXXXXXePzEDSd&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1455655938&oauth_nonce=Saq7zd&oauth_version

[2016-02-16 21:35] mittonk commented on #104
@RitwikChatterjee : Are you using the OAuth 1.0a helper from https://www.getpostman.com/docs/helpers , or some other method to sign your request?

[2016-02-16 21:54] RitwikChatterjee commented on #104
Yes, I am using the OAuth 1.0 helper on Postman.

[2016-02-17 19:21] RitwikChatterjee commented on #104
Can someone please help me with this issue?

[2016-02-18 03:59] mittonk commented on #104
Reproduced failure using Postman.  So, probably some non-obvious setting to find...

[2016-02-18 04:08] mittonk commented on #104
@RitwikChatterjee : Looks like "Encode OAuth Signature" defaults to off in Postman; that should be turned on for Yelp.

Here's what worked for me:
1. Select "Authorization" => "OAuth 1.0".  Fill in the `oauth_consumer_key`, etc.
2. Click the checkbox for "Encode OAuth Signature".
3. Click "Update Request"
4. Click "Send"

[2016-02-18 04:08] #104 closed

[2016-02-19 21:44] #102 closed

[2016-02-19 21:45] mittonk commented on #102
Closed by #103 .  I'll get the hang of the "Closes" keyword eventually.

[2016-02-20 22:09] emilepetrone opened #105 "Handling spaces in term searches"
I'm getting 400s when I try to pass a term with a space. "Golf course" as an example returns a 400.

`python sample.py --location="San Francisco, CA" --term="golf course"`

I've also tried "golf+course", still getting 400s. Are spaces not allowed in a term search?

Specifically I'm using the code from the Python V2 sample.

[2016-02-21 05:15] mittonk commented on #105
Hm, that example works fine for me.  Spaces are definitely allowed
1. Do terms without spaces like "burgers" work as expected?  Want to make sure spaces are actually the problem.
2. Is your repo up-to-date?  `git log` should show commits from February and January 2016 --- if you don't see anything since November, you may have a stale Python example.  (In particular, I'm wondering if you're hitting

[2016-02-21 19:52] emilepetrone commented on #105
@mittonk figured it out. It was hitting the search limit. My bad, closing

[2016-02-21 19:52] #105 closed

[2016-02-22 14:50] mittonk commented on #105
Wonderful, sounds good!

[2016-02-22 22:02] watterso commented on #99
Hey there @meydman, unfortunately we do not support this header. What worked well for me in hacking together a chrome extension, I made a simple server using the [yelp python package](https://github.com/Yelp/yelp-python) and [flask](http://flask.pocoo.org/). By using a backend component you can hide your api key and control usage (and have an easy kill switch).

I can't remember if it is required

[2016-02-22 22:02] #99 closed

[2016-02-22 22:08] watterso commented on #51
As I answered in #99 , we do not provide the CORS headers necessary to use clientside js to directly make requests to the api. Would that mean this is no longer a goal?

[2016-02-22 23:19] mittonk commented on #51
We definitely want to have an example of doing client-side JS!

We just haven't figured out a way to do so that doesn't involve leveraging a separate server-side component.

[2016-02-23 14:33] mittonk opened #106 ""No matching distribution found for auth2==1.0" for Python example"
From an email:

pip install -r requirements.txt

[code]

[2016-02-23 14:40] mittonk commented on #106
Works as expected on my machine, so things are basically functional:
[code]

Original poster saw `(from versions: )`, let's see what they get for `pip -vvv install oauth2==1.0`.  Should look something like:
[code]

[2016-02-23 16:37] jrs477 opened #107 "Pre-requisites for "requirements.txt"?"
I tried to follow your example on Github but have some very basic questions, coming from a novice background.

I saved the file "requirements.txt" in a directory and then in the terminal tried to run:
`pip install -r requirements.txt`

The following message was returned:
[code]
What other basic steps would I need to take before running the "pip install" command?

Thanks very much for your help!

K

[2016-02-23 17:07] mittonk commented on #106
Dup of #107 , that's got a prettier history so using that.

[2016-02-23 17:07] #106 closed

[2016-02-23 17:08] mittonk commented on #107
Works as expected on my machine, so things are basically functional:
[code]

@jrs477 , you saw `(from versions: )` --- could you please run `pip -vvv install oauth2==1.0` and paste the full output here?

Should start off something like:
[code]

[2016-02-23 22:47] jrs477 commented on #107
I ran the command you suggested. My terminal spat out a mess, ending with:

`InstallationError: Command "/usr/bin/python -c "import setuptools, tokenize;__file__='/private/var/folders/p6/qmn37h0j0lx_7cqd_z2qx59w0000gs/T/pip-build-oxJdCq/oauth2/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /var/folders/p6/qmn37h0j

[2016-02-24 08:05] jrs477 commented on #107
Learning more about oauth2, I see that it requires httplib2, which I tried to install. A similar error was returned when I tried `pip install httplib2`:

`Command "/usr/bin/python -c "import setuptools, tokenize;__file__='/private/var/folders/p6/qmn37h0j0lx_7cqd_z2qx59w0000gs/T/pip-build-hK2Zta/httplib2/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'),

[2016-02-24 12:14] jrs477 commented on #107
Update:
Everything worked after sudo-ing all installations :0

[2016-02-24 15:49] mittonk commented on #107
Sudo's one approach --- glad that got you running.

I prefer using virtualenv:
* http://docs.python-guide.org/en/latest/dev/virtualenvs/

It lets me install Python packages in my own home directory (rather than needing sudo and installing them for everyone on the machine).  It also lets me keep one Python with all the packages for project A, and a different one with the packages for project B, wit

[2016-02-24 15:49] #107 closed

[2016-02-24 16:11] jrs477 opened #108 "Unpacking JSON output in sample.py"
Hi,

What would be the most efficient way to access/index components within the JSON output from sample.py?

I am interested in using sample.py as base code for future calls to the Yelp API. Specifically, I'd like to run sample.py and at the end of the script write a new file (i.e., tab-delimited or csv) with select sections (i.e., long/lat coordinates, id, etc) of JSON output.

I figured I would

[2016-02-24 20:09] dlgallagher commented on #108
There are definitely a lot of ways you can go with this, so definitely try experimenting to get the output & formatting you're looking for.

sample.py's query_api() function first queries the search API endpoint, then queries the business API endpoint with the first business returned by search. The response from that is pretty printed to the console.

In the query_api() function:
`response = searc

[2016-02-24 21:51] mittonk commented on #108
I'd also say:
* https://github.com/Yelp/yelp-python

is a much more full-featured Python interface, and might be easier to integrate into a larger codebase.

The Python example here is really just a demo to get you started, whereas the yelp-python clientlib is a client library.

[2016-02-24 22:59] watterso commented on #108
Hi @jrs477 I second the suggestion to use our [python clientlib](https://github.com/Yelp/yelp-python)!
I made you a quick sample (see below) using the clientlib. Let me/us know if you have any more questions.

Code:
[code]
Sample of the output:
[code]

[2016-02-25 06:35] andrewmarmion commented on #95
@mittonk Just to let you know, I was able to resolve the issue by coding a check of the distance when I add the data to my struct.

[2016-02-25 09:09] jrs477 commented on #108
Thanks all for advice– very appreciated.

@watterso I ran your entire code, but there was a hangup in my terminal:
`AttributeError: 'list' object has no attribute 'rstrip'`

Then I ran the code line by line, and here's where I hit choppy waters:
`businesses = client.search('San Francisco, CA', term='pizza').businesses`

which returned

`Traceback (most recent call last):
  File "<stdin>", line 1,

[2016-02-25 15:42] mittonk commented on #95
@andrewmarmion : That sounds like excellent post-processing for your application.  That won't work for every use case, which why we haven't done that in general.

[2016-02-26 09:07] jrs477 commented on #108
@watterso and @mittonk
Update: the issue causing the AttributeError was that I incorrectly called my key and token strings from a json object (ie., 'config_secret.json', per the Yelp python clientlib example). However, when I cut and paste my consumer_secret, consumer_key, token, and token_secret directly into the code you recommended, I then get the following error:

[code]

I know this means tha

[2016-02-27 02:01] verylimegreen opened #109 "Http Error 400"
Hey everyone,
I'm very inexperienced -- modest beginnings, modest aims. I started with just the sample .py provided and a few small changes. Each time I run it, though, I encounter the http error. I've read a little bit on github, stack overflow and google groups about some timestamp issues, but I'm not sure how they might affect things for me. I am running this locally on a linux machine, and, in

[2016-02-29 20:16] tomelm commented on #81
I'm going to open a PR to remove the Python sample since it looks like it's causing some confusion

[2016-02-29 22:26] watterso commented on #109
Hey there @verylimegreen, 1st thing first, never share these values:
[code]
on a public forum, it is the equivalent of posting your username and password. If we ever have to do any sort of diagnostics involving your account specifically, we'll ask you to send your `CONSUMER_KEY` in private (by email for example). Its quite an easy mistake to make when you are just starting out with apis, so no wor

[2016-03-01 01:19] watterso commented on #108
Hey @jrs477,
First off, regarding loading keys from file, not sure exactly what issues you were having, but below is how I do it. I'm unsure of your level of python so I'll over-explain:
* `json.load()` loads the contents of a file object (containing JSON) into a python dictionary
* the `**creds` shorthand expands a dictionary into 'kwargs', short info on that [here](http://stackoverflow.com/quest

[2016-03-01 01:37] watterso commented on #109
Drawing from what you posted, I threw together what I think you are looking for using our [python clientlib](https://github.com/Yelp/yelp-python):
[code]

[2016-03-01 05:56] vasujain commented on #104
Even after Encode OAuth Signature i am getting "Signature was invalid", shall i create new issue with more details ?

[2016-03-01 05:57] vasujain opened #111 "Search APIs failing on PostMan"
Duplicate of #104 . Solution proposed there did not worked.

{
  "error": {
    "text": "Signature was invalid",
    "id": "INVALID_SIGNATURE",
    "description": "Invalid signature. Expected signature base string: GET&https%3A%2F%2Fapi.yelp.com%2Fv2%2Fsearch&location%3DSan%2520Francisco%26oauth_consumer_key%3D**XXX**%26oauth_nonce%3DzZLlOk%26oauth_signature_method%3DHMAC-SHA1%26oauth_timestamp%3D

[2016-03-01 06:01] vasujain commented on #111
@mittonk can you help me with this ?

[2016-03-01 21:18] watterso commented on #111
Hey there @vasujain!
I followed steps from #104 and was able to reproduce your error. What ended being my issue was that something somehow got into the Headers tab to the right of Authorization (see below). I went into there and cleared headers out (one of them was oauth related) and that fixed it.
![screen shot 2016-03-01 at 10 23 12 am](https://cloud.githubusercontent.com/assets/1614083/13437227

[2016-03-01 23:33] vasujain commented on #111
@watterso Header tab seems to be empty already for me. Pls see screenshot.
![screenshot 2016-03-01 15 32 28](https://cloud.githubusercontent.com/assets/1364787/13445733/e2e59928-dfc2-11e5-8b90-f4ad9adff644.png)

[2016-03-02 01:10] watterso commented on #111
Cutting it close there with exposing your api keys! :laughing:
Other possibilities:
* Can't tell from screenshot, but make sure you signature method is 'HMAC-SHA1'
* Make sure to click the update request button, in case the timestamp and nonce don't automatically update, the request is only valid for a short amount of time.
* (probably should've been the first question) Double check you api keys o

[2016-03-02 10:02] maximzxc opened #112 "cant find company"
Can't find company http://www.yelp.com/biz/new-look-electrolysis-carbondale  with python api wrapper
[code]
For different companies it's working without problems
[code]

[2016-03-02 10:44] maximzxc commented on #112
The Yelp APIs only return businesses that have been reviewed

[2016-03-02 10:44] #112 closed

[2016-03-02 18:47] watterso commented on #112
This is correct.

[2016-03-03 01:35] verylimegreen commented on #109
James,
You'll never see my keys again. Thanks for the heads-up. Also, thanks for building out this sample using the clientlib. I want to play around with it a little before asking any questions, but I greatly appreciate the help

[2016-03-03 02:04] verylimegreen commented on #109
This is great. I've been looking at
https://www.yelp.com/developers/documentation/v2/business and I want to start incorporating other parameters. I'm use to a world of where statements from SQL, so I'm not sure where to insert the parameters in the code you provided.

For instance, if I just wanted diners rated 3.5 and up, where would I insert the following:
{
    "rating": [
        [

[2016-03-03 06:09] vasujain commented on #111
You bet. Just enough crop to avoid exposure. :)

- signature method is 'HMAC-SHA1'
- Make sure to click the update request button, in case the timestamp and nonce don't automatically update, the request is only valid for a short amount of time.    **--- Already Done**
- (probably should've been the first question) Double check you api keys   **--- Cross checked. **

Do you have any postman collect

[2016-03-04 15:35] mittonk commented on #81
(Rolled back in #113 because this broke some links, we can roll forward once those are updated.)

[2016-03-04 22:11] watterso commented on #81
Re-removed in #114

[2016-03-04 22:11] #81 closed

[2016-03-04 22:56] danielcovill opened #115 "Can't find a specific place using API"
I'm searching for parks within 1000m of a point using the following query:

https://api.yelp.com/v2/search/?ll=39.7291624,-104.9874124&radius_filter=1000&category_filter=parks&limit=5

There's a park named "Sunken Garden Park" that should show up in the results but for some reason doesn't. How can I or should I report the issue?

https://www.yelp.com/biz/sunken-gardens-park-denver

[2016-03-04 23:19] mittonk commented on #115
The search API doesn't return reviews with 0 businesses in some places, including this one.

Sounds like we need to:
1. At least document the restriction.
2. Consider relaxing it.

[2016-03-04 23:22] danielcovill commented on #115
Reviews with 0 business, or business with 0 reviews? Not trying to be pedantic, just making sure I understand.

Thanks for the fast response!

[2016-03-04 23:24] mittonk commented on #115
OK, I clearly need more caffeine.  You're absolutely right, businesses with 0 reviews.

[2016-03-05 01:00] watterso commented on #111
I'm a total noob at postman but I tried my best, just fill in your keys :)

(i had to zip to make github let me attach)
[yelp_public_api_v2_search_example.zip](https://github.com/Yelp/yelp-api/files/159595/yelp_public_api_v2_search_example.zip)

[2016-03-05 01:02] watterso commented on #109
Glad you figured it out @verylimegreen , feel free to open another issue if you have more questions!

[2016-03-05 01:02] #109 closed

[2016-03-05 01:03] watterso commented on #108
@jrs477 hows it going? Are you still experiencing this error?

[2016-03-07 06:59] moortz opened #116 "Is there any way to know all possible exact city names in location parameter for some country?"
Hi,
I want to know what city names in location parameter are returned from business API for some country, say, US or Canada or so.
Of course I can see all city names in other way(wikipedia or something), but can I get exact city names used in Yelp?

Thanks in advance.

[2016-03-07 15:25] jrs477 commented on #108
@watterso thanks for the explanation. Yes, `yelp.errors.InvalidSignature` is resolved.

I now have another error popping up ("TypeError: character mapping must return integer, None or unicode" when the compiler hits `businesses = client.search('San Francisco, CA', term='pizza').businesses`).

But that's another can of worms...

Thanks again!

[2016-03-07 15:25] #108 closed

[2016-03-07 16:33] mittonk commented on #116
Regarding the location parameter: We do a lot of fuzzy matching, you shouldn't need an exact match.

Regarding city names:
You can get major cities (and their neighborhoods) from:
* https://www.yelp.com/developers/documentation/v2/additional_resources
* https://www.yelp.com/developers/documentation/v2/neighborhood_list

but there's not currently list of all city names.

Last time I looked, there w

[2016-03-07 21:39] watterso commented on #108
Glad to hear! If you can't resolve that issue, feel free to open another issue

[2016-03-07 21:42] watterso commented on #115
This issue was also picked up in #112 we should document this

[2016-03-08 01:55] moortz commented on #116
Thanks for your prompt reply.

I want to classify restaurant locations into several groups (such as county) and change app behavior.
So I want to make some mapping data like
[
  { group_a: [ city_a, city_b, city_c, ... ] },
  { group_b: [ city_d, city_e, city_f, ... ] },
 ...
]

[2016-03-08 02:36] watterso commented on #116
@moortz I don't understand exactly what you are trying to do, but it might be easier to choose those cities ahead of time and do your searches. Alternatively you can use the data we provide in the [Yelp Dataset Challenge](https://www.yelp.com/dataset_challenge) to do your initial efforts at grouping then come back and do it against the API.

[2016-03-08 23:42] woohooyayaya opened #117 "INVALID_SIGNATURE?"
I was following the example written in php. But I came across this problem when I was trying to traverse and get business by business ids. The first 2 businesses traversed fine. But the third one is always giving me 'INVALID SIGNATURE' error. I just searched normally in yelp and found out the business id is la-fusión-san-francisco-2 instead of la-fusi贸n-san-francisco-2. I'm not so sure if this is

[2016-03-09 00:06] vasujain commented on #111
That didnt helped either. Getting the same issue "Invalid signature. Expected signature base string" . Does the cf-ray id helps for the request i made ? cf-ray →280a4415def2288e-SJC

[2016-03-09 21:30] butterfield opened #118 "php sample mishandles unicode characters in business ids"
When hitting the biz endpoint with a business id that has a special character in it (like ó), the sample does not encode the id properly in the url, resulting in a 400 response.

Sample output:

3 businesses found, querying business info for the top result "la-fusión-san-francisco-2"

PHP Fatal error:  Curl failed with error #400: {"error": {"text": "Signature was invalid", "id": "INVALID_SIGNATUR

[2016-03-09 21:32] butterfield commented on #117
Hi there, I double checked and la-fusión-san-francisco-2 is the correct business id. (It corresponds to this business details page https://www.yelp.com/biz/la-fusi%C3%B3n-san-francisco-2 .)

I was able to reproduce the error. This looks like a bug in how the php sample handles business ids with unicode. I filed an issue here https://github.com/Yelp/yelp-api/issues/118

[2016-03-09 21:36] watterso commented on #117
Followup work will happen in #118, closing this issue.

[2016-03-09 21:36] #117 closed

[2016-03-10 01:11] watterso commented on #111
I figured it out, with your cf-ray I took a look at our logs, looks like all your requests have the same Oauth_signature and nonce, these should change from request to request as the request is signed with a new timestamp/nonce. I'm not familiar enough with postman to make sure nonce (and therefore signature) are updated with the new timestamp. When I click Send or Update Request those values are

[2016-03-10 01:15] vasujain commented on #111
Sure. Will try that as well. THanks

Sent from my iPhone

[2016-03-11 15:19] josealvin opened #119 "Fatal error: Curl failed with error #6: Could not resolve host: on line 92"
Hi, I properly set the API keys but I got this error after running the php sample file.

[2016-03-12 00:09] watterso commented on #119
Hey there @josealvin, do you still have this issue? Sometimes errors like this could be an intermittent issue involving dns lookup.

If you are still having this issue, can check that line 34 is still:
`$API_HOST = 'api.yelp.com';`

[2016-03-12 13:41] josealvin commented on #119
Yes. I'm still having a problem.

[2016-03-12 23:42] woohooyayaya commented on #118
I think I know why.

This is the signed url in percent encoding:
https%3A%2F%2Fapi.yelp.com%2Fv2%2Fbusiness%2Fla-fusi%C3%B3n-san-francisco-2%3Foauth_consumer_key%3DtC6J9T0YPuJNcGV2kMv_1A%26oauth_nonce%3Dad1189bc4d948bad3e7ef0b2c99c99c5%26oauth_signature%3DA1mZEw8l%252Bpxi8MjQ3lL1FGh9eYc%253D%26oauth_signature_method%3DHMAC-SHA1%26oauth_timestamp%3D1457824978%26oauth_token%3Dv3Co_EwQ6D99ruSBU6LWGie

[2016-03-15 09:12] bizmate opened #120 "Search API not returning a specific business despite having reviews"
When searching for 'Affordable Plumbing, Rooter and Water Heaters' in 'Scottsdale', I would expect to see http://www.yelp.com/biz/affordable-plumbing-rooter-and-water-heaters-scottsdale-2 but this is not returned at the moment.

Any clue on what is going wrong?

[2016-03-15 15:44] mittonk commented on #115
Need to specify that only "recommended" reviews count towards this requirement, see not-recommended case in #120 .

[2016-03-15 15:45] mittonk commented on #120
@bizmate : Looks like all three reviews on
* https://www.yelp.com/biz/affordable-plumbing-rooter-and-water-heaters-scottsdale-2

are "not-recommended."

Clarifying #115 to say "must have recommended reviews", that's indeed what we're hitting here.  Sorry!

[2016-03-15 15:45] #120 closed

[2016-03-18 00:01] watterso commented on #119
@josealvin, can you address the second part of my question:

`$API_HOST = 'api.yelp.com';`

[2016-03-18 00:02] watterso commented on #116
Closing due to inactivity.

[2016-03-18 00:02] #116 closed

[2016-03-18 00:02] watterso commented on #111
@vasujain is this still an issue?

[2016-03-18 00:06] watterso commented on #115
Closing...
**Resolution:** Search API does not return results that have 0 recommended reviews. Plain old reviews are a superset of recommended views, so having 0 reviews means 0 recommended reviews.

[2016-03-18 00:06] #115 closed

[2016-03-18 10:10] daveymuso commented on #118
I am getting this too... so surely every one is... we need a fix

[2016-03-18 10:26] daveymuso opened #121 "cannot get any actionlinks"
I've tried always and cannot get any extra data - I have these lines which mimic the other url vars

$DEFAULT_ACTIONLINKS = 'True';

$url_params['actionlinks'] = $GLOBALS['DEFAULT_ACTIONLINKS'];

[2016-03-18 17:30] mittonk commented on #121
At a high level: The URL request is what matters.

1. We can debug the PHP / Python / Java / whatever by seeing what api.yelp.com/... URL it generates.
2. We can debug that URL by forming a similar request using https://www.yelp.com/developers/api_console .

@daveymuso : What business or search are you using?  Not all businesses have extra action links, so it matters.

[2016-03-18 17:33] mittonk commented on #121
From the API side,
`https://api.yelp.com/v2/search?location=San Francisco, CA&actionlinks=true` shows `eat24_url` on business `the-flying-falafel-san-francisco-3` (but not most of the other search results).

Let's see what URL your code generates...

[2016-03-18 17:48] mittonk commented on #121
OK, your code does indeed find the Flying Falafel's Eat24 link when searching for "" in "San Francisco, CA".

Not every business has actionlinks; if you find a business or search that you think should, but doesn't show in the API, please post it here and I'll help dig in.

[2016-03-18 17:48] #121 closed

[2016-03-18 17:51] mittonk commented on #118
Yep, this breaks the PHP sample pretty thoroughly in many parts of the world.

[2016-03-18 18:36] mittonk commented on #118
Reproduced error, debugging.

[2016-03-18 18:38] vasujain commented on #111
'Yep, it worked. The trick was to auto generate timestamp and nonce. Select oauth1.0 in postman, fill up all the params, clear timestamp and nonce and update request.

[2016-03-18 18:38] #111 closed

[2016-03-18 20:34] watterso commented on #111
Awesome :smile:

[2016-03-18 21:43] #118 closed

[2016-03-18 21:46] mittonk commented on #118
@butterfield , @woohooyayaya , @daveymuso : Fixed.  Please pull master to get the new code!

[2016-03-18 21:56] woohooyayaya commented on #118
Thanks.

[2016-03-21 12:13] jrs477 commented on #108
To the folks who helped me troubleshoot, here's a product of my [tinkering](https://jschwartzbord.shinyapps.io/fr_wine/).

[2016-03-21 20:29] tomelm commented on #108
@jrs477 that's pretty cool, thanks for sharing!

[2016-03-21 20:43] mittonk commented on #56
(These examples are meant to demonstrate a few basic flows, and don't cover every endpoint or argument --- that's better done in a dedicated clientlib like https://github.com/Yelp/yelp-python.

However, we don't have a PHP clientlib yet, so I don't have any major objection.)

[2016-03-21 23:10] watterso commented on #108
Cool stuff! There is also the `cheese` category for fromageries if you want to add this data for your cheese post :wink:

PS: I spent a semester abroad in Montpellier, enjoy your time there :smile:

[2016-03-22 18:30] daveymuso commented on #121
thanks. I investigated further and it was due to not actually getting any results with deals on :) Got is sorted

[2016-03-23 20:49] mittonk commented on #121
Sounds good!

[2016-03-28 18:20] watterso commented on #119
closing due to inactivity.

[2016-03-28 18:20] #119 closed

[2016-03-28 18:38] titocr commented on #51
[This answer on Stackoverflow](http://stackoverflow.com/a/26152065/231039) might be useful to you. Note that your secret keys will be exposed here, but it is good for prototyping and playing around with the api.

[2016-04-25 14:24] martap-telenav opened #124 "Invalid parameter term"
Hi all,

I am trying to make a request with a term containing only some special characters (term=ș or term=Гомель).
For these requests I get a response   {... "id": "INVALID_PARAMETER", "field": "term" ...}

The sent urls are:
http://api.yelp.com/v2/search?ll=48.13912%2C11.5726&radius_filter=40000.0&offset=0&limit=10&term=%C8%99&sort=0

http://api.yelp.com/v2/search?ll=48.13912%2C11.5726&radius_fi

[2016-04-26 15:13] mittonk commented on #124
Hm, I've got a few ideas --- we don't have Romanian reviews or businesses yet, so I wonder if we're stripping out those characters; this would leave `term=` (maybe an error) or `term=a` (valid query, unhelpful results).

@martap-telenav , are you using one of the API examples (PHP, node.js, etc) or something else?

[2016-04-26 15:18] mittonk commented on #124
(https://www.yelp.com/developers/api_console gives a different an unrelated failure on `ș`, that's likely a different bug in the web console.
[code]
)

[2016-04-26 15:57] mittonk commented on #124
Repro'd using yelp-python clientlib (and found another Unicode issue https://github.com/Yelp/yelp-python/issues/46 on the way).

OK, digging in.

[2016-04-26 17:02] mittonk commented on #124
Looks like the issue's server-side, rather than client-encoding-side.

[2016-04-27 07:28] martap-telenav commented on #124
@mittonk I am using java (scribe lib)

[2016-05-03 18:58] Funmommie opened #125 "Newbie! Code to show Yelp Reviews on My Webpage"
Hello, Everyone!  I am a business owner (I teach piano lessons) and an extreme novice at coding.  I was hoping to put a dynamic view of my yelp reviews on my webpage.  Is this possible?  I know about the button the yelp supplies that sends my users to yelp, but am hoping to have something directly integrated into my site.  I am hoping for html code that I could copy and paste into a widget.  I do

[2016-05-07 18:46] cagiato opened #126 "Yelp Api seems doesn't work"
Hi everybody,
I'm new on this platform.
I have just created a little web page  on searching of hotels, for this reason I decided to use yelp api.
I read its documentation, and I have set the correct https request by using phpsample file.
It did work.
Since few days i'm trying to connect to yelp api, but its response is error 400.
I'm trying to connect using yelp console, and all kind of requestto

[2016-05-08 21:20] alickrxu opened #127 "geo_accuracy field in Location?"
Quick question: I was wondering the the `location.geo_accuracy` field means. I couldn't find anything in the documentation talking about it.

Here is an example of what I'm talking about. When I run a business search the response includes this (`geo_accuracy` is right below `display_address`):
[code]

[2016-05-09 01:09] chester-thomas opened #128 "Malformed JSON"
I am using php codeigniter and I can successfully generate a response. However the response contains string at the beginning and does not parse through correctly as a result:

`string(15566) "{"region": {"span": {"latitude_delta": 0.08290248999999505, "longitude_delta": 0.1358963099999997}, "center": {"latitude": 52.54999135, "longitude": -2.06822835}}, "total": 40, "businesses": [{"is_claimed": t

[2016-05-09 15:24] mittonk commented on #127
You're right, we don't have any documentation for this.

Short answer: It's a combination of how confident we are in the lat-lng coordinate data, and how large an area it represents.  If we have a street address for a specific building (common in business results), it's 8.0; if we only found a general neighborhood (like the coordinates for "Downtown, Some City") it's 4.5.

On www.yelp.com, this nu

[2016-05-09 15:28] mittonk commented on #128
Hm, sounds like we need to find a "parse as JSON" option in CodeIgniter.  Yelp API responses are JSON.

http://stackoverflow.com/questions/19027205/get-json-response-in-codeigniter  sounds pretty similar.  Perhaps try `json_decode()` like in that discussion?

[2016-05-09 15:35] mittonk commented on #128
For an example, check out where the PHP example code calls `json_decode()`:
* https://github.com/Yelp/yelp-api/blob/master/v2/php/sample.php#L137

[2016-05-10 08:04] chester-thomas commented on #128
Many thanks, it indeed was the issue. I added json_decode($data) and it resolved my issue.

[2016-05-10 08:04] #128 closed

[2016-05-10 08:07] chester-thomas commented on #127
I think it's how close the returned place is to your search criteria. I find its accuracy rating increases when I use longitude and latitude up to as much as 9.5 for places close to where I am standing.

You can thus use it to sort results, in my app it means the places are sorted by how close to you they are.

[2016-05-10 13:30] mittonk commented on #128
Excellent.

[2016-05-10 13:32] mittonk commented on #127
I'd use "distance" for how far things are from the search location.

"geo_accuracy" is about the precision of the location, not how far it is.

[2016-05-10 18:36] mj62 opened #129 "Invalid Signature"
Hi, just getting started on this.

Looking to run GET `https://api.yelp.com/v2/search?category_filter=Nightlife&location=Los+Angeles&limit=1`

I've filled out the proper Consumer/Token Key/Secret.

In Headers I have
Authorization: `OAuth oauth_consumer_key="z-0YvGnBFXDH8bfp8MOjqQ",oauth_token="b2tBzAGfqRZtk7G-3qlvPo71keUbsr1V",oauth_signature_method="HMAC-SHA1",oauth_timestamp="1462904865",oauth_n

[2016-05-11 13:11] marvalpert opened #130 "API - Posting reviews on my website"
API - can you only get 1 review to appear on my website-- is that review at random? how can i get ALL the reviews to be linked to my website? (please cc answer to afoodcritic@gmail.com thank u

[2016-05-12 03:41] TimbW opened #131 "Yelp Listing Industry Classification to NAICS code mapping/cross walk/Concordance?"
Hey folks
For available yelp listing industry categories, is there a cross walk to NAICS codes?
Any help appreciated!

[2016-05-13 01:16] uclamapshare commented on #129
I'm having the exact same issue!! =( Anyone else can solve?

[2016-05-13 01:17] albertkun commented on #129
I'm having the exact same issue!! =( Anyone else can solve?

[2016-05-13 01:27] mittonk commented on #131
Hm, not yet.  What's your use case?

[2016-05-13 02:37] mj62 commented on #129
Taking all filters and headers out and starting over and checking the 3 of the 4 options seemed to make it work. Make sure you press update right before you send.

[2016-05-13 04:35] TimbW commented on #131
Connecting business software that requires NAICS codes, want to map to
listing categories on yelp. for B2B.
Cheers
Tim

On Fri, May 13, 2016 at 11:27 AM, Ken Mitton <notifications@github.com>
wrote:

[2016-05-13 16:00] mittonk commented on #129
@mj62 : "press update" sounds like Postman, is that what you're using?

[2016-05-13 16:14] mj62 commented on #129
@mittonk Yes, sorry I forgot to specify that in original post.

[2016-05-13 18:34] #129 closed

[2016-05-13 18:36] mittonk commented on #126
@cagiato : What's the full response from the PHP sample?  What about the web console at https://www.yelp.com/developers/api_console?

There's often a specific error message, perhaps that a certain field is invalid --- finding that would help debug this issue.

[2016-05-13 18:39] mittonk commented on #125
@Funmommie : The API is meant for people writing code; if you'd like a ready-to-use widget, I'd start with https://www.yelp.com/bling .

[2016-05-13 18:39] #125 closed

[2016-05-13 18:42] mittonk commented on #130
@marvalpert : The Yelp API chooses one very relevant review.

[2016-05-13 18:42] #130 closed

[2016-05-15 09:29] jeffehobbs opened #132 "Yelp "loc" XML feeds gone?"
For years I have very much enjoyed browsing recent reviews via the location-based XML feeds, ala:

https://www.yelp.com/syndicate/area/rss.xml?loc=Northampton%2C+MA

Seems like they have stopped being updated a short while ago? Is there any way to bring them back or mimic this functionality (geofenced location + recency of review) with the API?

Thanks!

[2016-05-16 15:49] tomelm commented on #132
Hey @jeffehobbs! The API does not provide functionality to mimic those RSS feeds.

[2016-05-16 15:49] #132 closed

[2016-05-18 15:19] SchlegelThomas opened #133 "Yelp Ratings Urls seems to have poorly edited photos"
Hi, upon using your api to search for businesses within my application I noticed that some of the ratings images have a non-transparent background.  Normally this wouldn't be a problem if you display them on a white background; however, our site has a dark background and it becomes increasingly noticeable.  I see that you also have some ratings image resources available to download, but those are

[2016-05-19 17:43] zxy1219 opened #134 "Historic data from Yelp API"
Dear all,

Is it possible to get historic data from the Yelp API? For example, I want to compare the numbers of fast food restaurants between now and 10 years ago, how to set up the searching strategy?

Thanks!

Sue-ying

[2016-05-24 01:02] Fish9ine opened #135 "Yelp Search Keyword - Autocomplete"
Hi there,

We are planning to consume Yelp API and we are wondering how can we achieve the same functionality as yelp search textbox autocomplete?

Thanks in advance!

[2016-05-24 13:59] mittonk commented on #133
@tomelm , want to have a quick look?

[2016-05-24 14:08] mittonk commented on #131
Sorry, we don't have a mapping --- you'd need to write your own based on the category list at
* https://www.yelp.com/developers/documentation/v2/all_category_list

Good luck!

[2016-05-24 14:08] #131 closed

[2016-05-24 14:14] mittonk commented on #134
The Yelp API doesn't yet have this sort of date filtering.

(In addition, Yelp was much smaller in 2006 --- even if we could do that query, you might see a lot of "yelp was smaller" effects rather than "there were fewer fast food places")

[2016-05-24 14:14] #134 closed

[2016-05-24 22:47] tomelm commented on #135
Hey! We don't expose this functionality in the API. I see you've emailed api@ too, they'll be able to assist further if needed.

[2016-05-24 22:47] #135 closed

[2016-05-27 16:23] tomelm commented on #133
Hey @SchlegelThomas! We're looking into this.

[2016-05-31 14:23] SchlegelThomas commented on #133
thanks! let me know when you have an update.

[2016-05-31 15:18] mnemonicflow commented on #99
@meydman Yelp API works with [JSONP](https://en.wikipedia.org/wiki/JSONP)!

In your code the problem is with [jQuery's ajax method](https://api.jquery.com/jQuery.ajax/), which if  'dataType' is 'jsonp' it will set cache to false which means it will append an additional "_" (underscore) parameter to the query string.

This is what the docs says about the cache parameter:
[code]

Because your reques

[2016-05-31 20:26] adityarustgi opened #136 "Token and Token Secret are not displaying in the API Console"
I registered for API keys yesterday, and everything was working fine.

Today, the API stopped working with the error:

InvalidParameter: {'msg': 'Bad Request', 'text': u'One or more parameters are invalid in request: oauth_token', 'code': 400, 'id': u'INVALID_PARAMETER'}

When I log into the console to check my credentials, I only see the Consumer Secret and Consumer Key. The Token and Token Secre

[2016-05-31 21:23] adityarustgi commented on #136
Well.. an hour later.. I can regenerate the API keys.
Thanks Yelp Team.

[2016-05-31 21:27] mittonk commented on #136
Hm, there's definitely a bug in there someplace.  We'll have a look.

[2016-06-01 06:22] erans opened #137 "Getting 403 error from the API Console on site for any API call I make"
Hi,
I'm Getting 403 error from the API Console on site for any API call I make. I tried to refresh my API tokens, yet the problem in the API Console persist (as well as in my code).

Any help would be appreciated.

Thanks,
Eran

[2016-06-01 16:19] tomelm commented on #137
I wonder if this is related to #136

[2016-06-01 19:24] adityarustgi commented on #136
Getting this error again today, after not seeing this for the last 18 or so hours.

[2016-06-03 19:15] creationburst opened #138 "API Help"
We're currently trying to explore a user case for an app and I'm unsure if its possible based off what I've seen in the API. What we'd like to do is pull photos on an item based level along with the tagged description. So say someone uploaded a photo of the club sandwich at a restaurant we'd like to pull that Yelp photo along with what was tagged with it. User case being someone is at a restaurant

[2016-06-08 17:11] virgytam commented on #138
Hi creationburst, currently the API only returns 1 photo per business, so there isn't a way to retrieve specific photos or get more than 1 photo.

[2016-06-08 19:31] creationburst commented on #138
Hey thanks for the comment. That was my understanding as well. Any ideas for how this could possibly be done. I'm looking into Locu, Google's APIs, and FourSquare at the moment. I'm hoping there is a way.

[2016-06-09 18:52] jimmi-heiserman opened #139 "radius_filter works most of the time, but misses a small amount of results"
I see the v2 Api uses meters as a radius filter. I am assuming this is just a simple trigonometric function of 2 locations and their lat and long values, as opposed to the distance of wayfinding paths based on roads. I have been experimenting with the API to get a list of restaurants in a small area (under a km), but there seems to be some listings that get missed.

I am searching a small radius o

[2016-06-15 04:54] WadeSellers opened #140 "CocoaPod shows error when doing pod install"
I am attempting to install YelpAPI to a Swift app but I am getting an error in Terminal and I cannot find documentation to solve the issue.

The error I receive when I pod install is:

[!] The platform of the target `ForTheTroops` (iOS 9.3) is not compatible with `YelpAPI (1.0.3)`, which does not support `iOS`.

and this is my Podfile setup going off the directions from your CocoaPod install instr

[2016-06-15 18:06] benasher44 commented on #140
Hi @WadeSellers! Can you try something for me? I think there might be something up with our podspec. Here's an updated version:
[code]

Can you paste that into a file locally called `YelpAPI.podspec`? Then in your Podfile, make your pod line look like this:

`pod 'YelpAPI',  :podspec => 'path_to_yelpapi.podspec'`

If this works out for you, we'll publish an updated podspec

[2016-06-16 11:04] glenrc opened #141 "Non-Geo ability?"
Is it possible to pull back results for the whole of the USA or UK rather than a specific city?

Eg, based on the reviews, the best Broadband provider in the UK ?

[2016-06-17 14:07] wombatdev opened #142 "Problem generating base signature with Javascript"
Hey all,

I'm trying to build a pretty simple front-end app in JS that uses the search API. (I know JS isn't the best for this, but it's all I know so far.) I have all my tokens and I believe I'm setting up the AJAX get method correctly, but I keep getting this error: `Invalid signature. Expected signature base string:`.

The base string it then provides seems to match what I have in my request, b

[2016-06-20 09:47] mittonk commented on #141
Yelp focuses on connecting users to great local businesses; searching across an entire country isn't part of the API, sorry.

[2016-06-20 09:47] #141 closed

[2016-06-20 17:02] mittonk commented on #139
@jimmi-heiserman , what are you using as a search term (the `term` input)?

[2016-06-20 17:06] mittonk commented on #139
@jimmi-heiserman : Could you include one of the 5% "bad" responses?  That might help explain things.

(If it's a HTTP error code, it'll certainly explain things --- but if it's just a different set of businesses, it still might help.)

[2016-06-20 19:21] wombatdev commented on #142
Update: I'm using the DDO JS oauth library to generate a signature from the secret key/token. However, my AJAX requests still error out for `"Invalid signature. Expected signature base string:`

New code:

[code]

Am I on the right track? The oauth.authorize method generates this data for the request:
[code]

[2016-06-21 19:17] WadeSellers commented on #140
I followed the instruction above. I created the YelpAPI.podspec file, pasted everything into it. I placed the .Podspec file right into the app where the .xcodeproj file is located too.  I added the line to the Podfile, ran pod install, and it looks like it can't locate the .Podspec file from what I read in the terminal response.

Let me know if I can help anymore please.

![error from pod install]

[2016-06-21 19:24] WadeSellers commented on #140
I also have tried moving the .Podspec file into the Pods/Local Podspecs folder as well but no difference when trying Pod Install

[2016-06-21 20:37] #140 closed

[2016-06-21 20:42] WadeSellers commented on #140
I'm not sure I understand. Where did I assign it twice?

[2016-06-21 20:43] benasher44 commented on #140
@WadeSellers it's all fixed fixed now. Go ahead and put your Podfile back to how it was before and run `pod install --repo-update`. The "assign twice" refers to a bug on our end. You didn't do anything :)

[2016-06-21 20:44] benasher44 commented on #140
If it's already installed, you may need to run `pod update YelpAPI `

[2016-06-21 20:45] WadeSellers commented on #140
HEY-O!!!! Now we're cooking with fire!  Worked perfectly.  Thanks so much for looking into this and solving the issue. I really didn't want to use Google Place API if I didn't have to. Yelp has all the info I need and more for my project so I was really looking forward to utilizing it... and now I can!

You're awesome!  Thanks again!

-Wade

[2016-06-22 14:21] SchlegelThomas commented on #133
Any Updates?

[2016-06-23 05:22] sanjukhunt opened #143 "How to get business open hours info from business id"
I want to show how many hours business open. I have tried but i am unable to get the those info from business id.

[2016-06-23 19:27] tomelm commented on #143
Hi @sanjukhunt, we don't currently provide this in the API

[2016-06-23 19:27] #143 closed

[2016-06-24 17:31] watterso commented on #133
@SchlegelThomas , this is still on are todo list, but not near the top. In my own personal project I got around this by downloading the image map from [the display requirements page](https://www.yelp.com/developers/display_requirements), chopped it up manually saving them as 1.png, 1.5.png, etc so that I could serve them directly based on the rating field of a business. Of course using the image m

[2016-06-24 17:33] watterso commented on #138
@creationburst doesn't seem like a simple problem to solve and this is now out of the scope of our api, going to close this.

[2016-06-24 17:33] #138 closed

[2016-06-24 17:34] watterso commented on #139
Closing due to inactivity

[2016-06-24 17:34] #139 closed

[2016-06-24 17:35] watterso commented on #137
Closing due to inactivity

[2016-06-24 17:35] #137 closed

[2016-06-24 17:35] watterso commented on #136
Closing due to inactivity

[2016-06-24 17:35] #136 closed

[2016-06-24 17:37] watterso commented on #127
Closing, see this section from @mittonk's response for the answer:

[2016-06-24 17:37] #127 closed

[2016-06-24 17:38] watterso commented on #126
Closing due to inactivity

[2016-06-24 17:38] #126 closed

[2016-06-24 18:08] watterso commented on #56
(sorry everyone for reviving a long dead thread, just adding a note before closing.)

To reiterate what was said above, the samples are used to help get people started, if you want this phone search example to be part of the sample, please create a pull request and we will review it there.

[2016-06-24 18:08] #56 closed

[2016-06-24 18:41] watterso commented on #142
Hey there @wombatdev, sorry for the delayed response. You are definitely on the right track.

Looks like you are doing an `oauth.authorize` on the data, I'm fairly certain that should be on the url. Could you give that a shot?

Also on stack overflow there is a [JS example of using the Yelp API](http://stackoverflow.com/questions/23716264/yelp-api-and-angularjs/26152065#26152065) maybe you can use

[2016-06-24 19:08] WadeSellers opened #144 "YLPBusiness property attribute request"
Hi Yelp!

May I please request an added read-only property on the YLPBusiness class? An immutable id string would allow the ability for a developer to connect their database item to a specific YLPBusiness object. Since the YLPBusiness.identifier property is mutable, a change to the .identifier property creates issues when tying to an outside databases item that wants to correlate with a specific Y

[2016-06-24 21:53] watterso commented on #144
Hi @WadeSellers,
Looking into the header file [YLPBusiness.h](https://github.com/Yelp/yelp-ios/blob/caff9f887b0710a8f65b40534d40ff068b7ef97c/Classes/Response/YLPBusiness.h#L43) we see that `YLPBusiness.identifier` and all fields are `readonly` or immutable. So after a YLPBusiness is constructed based off a response on our servers, it cannot be changed.

I think what you really are trying to get at

[2016-06-24 21:59] WadeSellers commented on #144
@watterso ... That's perfect! You explained it spot on. Thank you so much for taking the time. That's an excellent strategy and that's exactly what I'll do.

[2016-06-24 22:16] #144 closed

[2016-06-24 22:43] watterso commented on #144
Awesome, happy do help :D

[2016-06-27 10:38] prsmax opened #145 "Yelp API is failing in Postman"
{
    "error": {
        "text": "Signature was invalid",
        "id": "INVALID_SIGNATURE",
        "description": "Invalid signature. Expected signature base string: GET&https%3A%2F%2Fapi.yelp.com%2Fv2%2Fsearch&location%3DSan%2520Francisco%26oauth_consumer_key%3DHJ0FdPSYP0GlbIAKq-Wdcw%26oauth_nonce%3DKyv7x3%26oauth_signature_method%3DHMAC-SHA1%26oauth_timestamp%3D1467023743%26oauth_token%3DpO9Ez

[2016-06-27 14:21] simonnarang opened #146 "INVALID_SIGNATURE"
Hi there,

I am having trouble using the search API.

I am creating a signature from a percent-encoded base string and signing it with `<consumer secret>&<token secret>`

Here is my Printed Base Signature:
`https%3A%2F%2Fapi.yelp.com%2Fv2%2Fsearch%3Flimit%3D20%26location%3DBerlin%26oauth_consumer_key%3DT8p3rlxD_eQLz6Jl7ePghw%26oauth_nonce%3D60b30afc5087fcc509eb4245d1e9410c%26oauth_signature_method

[2016-06-27 20:00] SchlegelThomas commented on #133
@watterso Would you mind if I created my own local resource based off of what you've already got then?  I can submit it here for review if you'd like.  I just wanted to make sure we weren't breaking any terms and conditions as far as usage goes.

[2016-06-29 20:26] watterso commented on #133
Hey @SchlegelThomas,
After some internal discussion, we've decided that if you want those new stars you should download them from the [display requirements page](https://www.yelp.com/developers/display_requirements). As mentioned on that page, you are not allowed to alter them. The kind of alterations that are forbidden are those that change the physical look of the image. So you can cut out the r

[2016-06-29 20:26] #133 closed

[2016-07-06 00:19] butterfield commented on #146
Hey Simon,

First, you're seeing \\u0026 because the response string represents characters like the & symbol as a unicode escape sequence. \u0026 represents &, and the first \ escapes the second \ so the second \ doesn't escape the u.

Have you tried constructing your URL using one of the examples in https://github.com/Yelp/yelp-api/tree/master/v2 and comparing the result to your string?

[2016-07-06 00:22] butterfield commented on #145
Hi prsmax,

Your screenshots have expired :( Are you still having this problem? If so, can you give me some more info about how you made your request? (Maybe this was in your screenshots.)

[2016-07-07 22:04] vkman opened #147 "Full Neighborhood listing?"
Hello,
I'm working on an app that makes use of the Yelp API, and would like to present the user with an autofill of Yelp-supported regions.  I've imported the hierarchical [neighborhood list here](https://www.yelp.com/developers/documentation/v2/neighborhood_list), but searching the Yelp site shows this is just a fraction of regions supported.  Are there any APIs for accessing a more full listing,

[2016-07-07 22:47] mittonk commented on #147
@vkman : What's an example neighborhood?

[2016-07-08 18:01] vkman commented on #147
Do you mean an example of a neighborhood not listed on the page but still has Yelp results?
There are many --  Jersey City, NJ;  Ft. Lauderdale, FL;  Anchorage, AK;  all of Puerto Rico.  Even whole countries like The Philippines are missing from the list.
That is, if I'm understanding your question correctly.

[2016-07-08 19:00] mittonk commented on #147
OK, that helps.

Yelp supports lots (millions? billions?) of search locations, including specific lat-long points; only a few of these are "Neighborhood" entities, which have some extra manually-curated metadata.  The page you're looking at only lists "Neighborhood" entities.

"Jersey City, NJ" is a search location, but it is not a "Neighborhood".

"107 Main St, Cambridge, MA" is also a valid sear

[2016-07-08 19:00] #147 closed

[2016-07-08 20:03] vkman commented on #147
I understand and I'm definitely not looking for a list addresses or lat/long points, but just a more complete listing of supported cities & neighborhoods.  If this is not available/too exhaustive, is there perhaps just a listing of cities in the Yelp realm?  Once again, thank you for responding promptly.

[2016-07-10 11:06] minhDtran opened #148 "re: Posting a response to comment using yelp api"
Hello,
  I am new on yelp , and I would like to learn if I can post a response to a comment using yelp api.
If you happen to know how , please share it with me. Thank you and I am using python for yelp api.

Tom

[2016-07-10 20:45] butterfield commented on #148
Hey Tom!

This API is currently read-only, so unfortunately that functionality isn't supported.

[2016-07-11 00:06] minhDtran commented on #148
Thank you for the reply. If you would not mind, may I ask you one more
question , please ?
Is there any other way if I would like to posy a response to yelp comment
using other mean than the yelp api?

Many thanks for all of the helps,
Tom

On Sun, Jul 10, 2016 at 4:45 PM, butterfield <notifications@github.com>
wrote:

[2016-07-11 13:14] mittonk commented on #148
@minhDtran : If you're the business owner, you can claim the business on biz.yelp.com and respond to reviews there.

[2016-07-11 13:14] #148 closed

[2016-07-11 21:22] clizarralde commented on #146
I am having the same issue.

[2016-07-12 07:38] SwaySway opened #149 "[Java] Updated Yelp API"
Scribe dependency has changed to github and some of the commands have changed. Can the code be updated? Currently having issues trying to implement current scribe java with yelp api

[2016-07-12 13:48] mittonk commented on #149
(Note that this is about the Java OAuth library used in the v2 Java example, not the similarly-named logging library.)

We've got a (2-year-old) binary JAR in `v2/java/lib/scribe-1.3.5.jar`, that may provide a workaround.

https://github.com/scribejava/scribejava is currently at 2.8.1.

[2016-07-12 14:05] mittonk commented on #149
Example compilation errors when trying to use scribejava 2.8.1 instead of 1.3.5, to help others find this issue:
[code]

[2016-07-12 14:15] mittonk commented on #124
Need to pin down and fix backend issue.

[2016-07-12 14:21] mittonk commented on #149
@tzuhanwu : How hard would it be to rewrite this Java example around https://github.com/Yelp/yelp-android instead of using a stale `scribejava` OAuth library directly?

(Don't start the work yet, just looking at options.)

[2016-07-12 21:39] tzuhanwu commented on #149
@mittonk : Not hard, [yelp-android](https://github.com/Yelp/yelp-android) currently does support the usage of regular Java. However, just a note, yelp-android might not support the compatibility of regular Java in the future.

[2016-07-13 18:57] bretwalker opened #150 "Recent Reviews By Area"
I'm trying to find recent reviews for Louisville, Ky.
According to the [documentation](https://www.yelp.com/developers/documentation/v2/additional_resources), an RSS feed should be available on the city's page:

| Feed Name | Feed Description  | How To Obtain  |
|---|---|---|
| Recent Reviews By Area  | Provides access to recent reviews for a particular area  | The landing page for a particular ci

[2016-07-13 19:49] tomelm commented on #150
Hey @bretwalker, we've removed this feature. We'll update the documentation page to reflect that, sorry about the confusion

[2016-07-13 19:49] #150 closed

[2016-07-14 13:24] bretwalker commented on #150
@tomelm, that's very disappointing. That feed was very useful. I hope Yelp will reconsider.

[2016-07-15 22:27] gabemartinez opened #151 "Pokémon Go - Pokéstop filters?"
Will these be available via Yelp search/business api endpoint soon? Thanks.

[2016-07-19 01:38] watterso commented on #147
@vkman unfortunately going into detail on how we do [geocoding](https://en.wikipedia.org/wiki/Geocoding) is outside the scope of our api support and generally not public knowledge. However you can expect that we do are best to support all locations in the countries for which we are launched, so have a look at the bottom of our [factsheet](https://www.yelp.com/factsheet) to see which markets Yelp h

[2016-07-19 15:09] mittonk commented on #151
We're looking into options!

[2016-07-20 18:53] kushal713 opened #152 "YelpSharp C# Issue"
Hi,
   I am running the following Yelp c# call on my local machine and it works perfectly fine:-
**var results = y.Search(searchOptions).Result;**

However, when I host the code on the server, this very line returns the following exception:-
Message: One or more errors occurred.
Source: mscorlib
STackTrace: at 'System.Threading.Tasks.Task.ThrowIfExceptional(Boolean include TaskCancelledExceptions)

[2016-07-21 12:56] mittonk commented on #152
@kushal713 : OK, sounds like your code is pretty good (since it works locally) and this is related to your deployment to the server.  I've got a few questions that will help find the issue.

1. What sort of server?  Microsoft Azure, something down the hall managed by IT, etc.
2. What sort of app framework?  Something .NET-ish, etc.
3. Can your code access other web APIs from your machine?  (Gettin

[2016-07-21 14:16] kushal713 commented on #152
Hi Ken,
        Thanks for responding on this. Below are the answers to your questions:-
1. What sort of server? Microsoft Azure, something down the hall managed by IT, etc. - YES. Its Azure. The OS is Windows Server 2012
2. What sort of app framework? Something .NET-ish, etc. - YES. Its .NET Framework 4.6
3. Can your code access other web APIs from your machine? (Getting www.google.com would be e

[2016-07-21 14:18] kushal713 commented on #152
Also, I am not using Task Parallel Library(TPL) anywhere in my code, as suggested by the link shared by you. Can this be related to the async call?

[2016-07-21 15:16] mittonk commented on #152
Hm, no clean answer yet.

Next:
5. This error:

sounds like you're getting an HTML page instead of a JSON response.
What HTTP status code does the response have?  200, 404, 500, etc?
What's the response body?  You should be able to add diagnostics to your code to show this if it's not visible in your debugger.

[2016-07-21 15:22] krishnarajtech opened #153 "Need to get More than 1000 records"
Hello team,
I cant able to access more than 1000 records from search api request.

****Sample API URL::https://api.yelp.com/v2/search?term=cream+puffs&location=San+Francisco****

I have get the following error when I try to access more than 1000 records.

Fatal error: Curl failed with error #400: {"error": {"field": "offset", "description": "The maximum number of accessible results is 1000", "id":

[2016-07-21 15:30] kushal713 commented on #152
Yes. I was getting the error even before installing the Yelp certificates. But the InnerException in that case was different. It was a Newtonsoft.Json.JsonTextReader.Read() InnerException then. After installing the certificate, the InnerException has changed from Newtonsoft.Json to mscorlib. But the main error is the same.
I figured that the response is HTML instead of JSON, which means the call i

[2016-07-21 16:59] abhineetanand opened #154 "Can changes to Yelp API Display Requirement be made by paying a fees?"
Hi,
I wanted to know if integrating Yelp API without using the logo and branding for Restaurant Ratings and Reviews is allowed by paying a fees for the same?

Thanks

[2016-07-21 18:00] vkman commented on #147
Ok, thank you.

[2016-07-21 20:39] kushal713 commented on #152
Hi,
    I debugged the dll and it sends the StatusCode as 'NotAcceptable'. This is the response.Content:-

"<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head>\r\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\"/>\r\n<title>406 - Client browser does no

[2016-07-22 01:03] swizardlv opened #155 "get wrong result using bounds in search API."
Hi, I used search api to get taco with a limit of bounds to filter the result. but seems the bounds not work well. one point is out of bounds. Please help to fix . Thanks.
[https://api.yelp.com/v2/search/?sort=0&limit=3&term=taco&bounds=38.801775%2C-76.999326%7C38.777634%2C-77.028728](https://api.yelp.com/v2/search/?sort=0&limit=3&term=taco&bounds=38.801775%2C-76.999326%7C38.777634%2C-77.028728)
T

[2016-07-22 13:54] mittonk commented on #155
@swizardlv : We've seen this before (in #95)  --- the "service area" (in this case, probably the delivery area) for the business covers your search location, even though the actual brick-and-mortar building is further away.

You can see the red polygon of the service area on the business page:
* http://www.yelp.com/biz/rito-loco-restaurant-washington

It's a little confusing, but working as design

[2016-07-22 13:54] #155 closed

[2016-07-22 16:59] thatryan opened #156 "Error: The OAuth credentials are invalid"
Hi there, two issues.

Using PHP version of sample code, I could not get anything to work using the `$GLOBALS` however when I changed functions from `$GLOBALS['BUSINESS_PATH'] . urlencode($business_id);` to `BUSINESS_PATH . urlencode($business_id)` etc that issue cleared up.

Secondly I continuously get the OAuth error invalid credentials. It appears maybe the signature is not being built correctl

[2016-07-22 17:19] mittonk commented on #156
@thatryan : Did you remember to fill your own OAuth credentials in here?
* https://github.com/Yelp/yelp-api/blob/master/v2/php/sample.php#L25

[2016-07-22 17:25] thatryan commented on #156
Yes, I create a `yelp.php` file that I include in my main PHP file.
Looks like this,
https://gist.github.com/4b14d22ca97b4a1aaf85c5afa1fd7ab8

Inside my main PHP file, I call it like this,

https://gist.github.com/a92005f4d20e22e8a44de55b3c177b2e

[2016-07-22 18:26] thatryan commented on #156
I am trying to follow the code in `OAuth.php` is it expecting the parameters to be in `$_POST` somewhere?

[2016-07-25 09:53] kushal713 commented on #152
Hi Ken. Any suggestions on the above? Its a bit critical for me.

[2016-07-25 10:06] supportkaira opened #157 "Can't we get accurate result response same as Yelp application provide?"
We are using Yelp API  as business search API. It seems we are getting too much result which are not related Search Criteria. For  example,

1. We are searching 'Walmart' keyword near "Agora Hills, CA"  using Yelp mobile application then we are getting accurate 2 result in that area. But when we use yelp API and do same search, we are getting so many other result  which are really not relevant and

[2016-07-25 14:19] mittonk commented on #152
@kushal713 : I suspect your .NET server is configured not to accept `application/json` data, which is what the Yelp API returns.

I'd suggest talking to either whoever runs your .NET server environment (IT?) or a .NET group --- we're getting pretty far into Microsoft server configuration here.

[2016-07-25 17:17] mittonk commented on #157
@supportkaira : Could you provide one of your responses from the API?  Having some concrete problem businesses will help the investigation.

[2016-07-25 17:28] mittonk commented on #157
@supportkaira : Hm, I see the same 20+ businesses when using the API or my phone app --- mostly Walmarts, some Targets; mostly Agoura Hills or Simi Valley.

Perhaps also include a screenshot of the phone that's only showing 2 results?  I suspect there's an extra filter or search radius set there.

[2016-07-25 19:40] ilikepotatoes1 opened #158 "Error Code 400"
Using the yelp-android api, i get

[code]

This error starting popping up randomly and i've generated new token and secret codes but the error still persists. Lots of suggestions but nothing helped

Thanks in advance

[2016-07-26 19:38] mittonk commented on #152
@kushal713 : What is your application sending as its `Accept:` header?  That should include at least `application/json`.

[2016-07-26 19:39] mittonk commented on #153
@krishnarajtech : Hm, 1000 is indeed the limit.  What's your use case for wanting more than that?

[2016-07-26 19:40] mittonk commented on #154
@abhineetanand : Please see
* https://www.yelp.com/developers/display_requirements

[2016-07-26 19:40] #154 closed

[2016-07-26 19:46] mittonk commented on #156
Hm, I suspect something's going wrong on this line in your code:
` $consumer = new OAuthConsumer($CONSUMER_KEY, $CONSUMER_SECRET);`

I'd suggest using a debugger or print statements to see the values of `$CONSUMER_KEY` and `$consumer`, and compare them against the similar line in the Yelp sample code.

[2016-07-26 19:49] mittonk commented on #158
1. What's an example signed URL?  Replace the private values with "XXX" or "REDACTED" or similar before posting.

2. Does this only hit certain searches --- those with accents, or spaces, or other tricky characters?

[2016-07-29 21:53] Chef-Code commented on #152
What browser are you using? As in regards to the original post involving the error you were receiving... My first **assumption** was that this had something to do with asynchronous execution conflicts... but again, this is an assumption.  Are you using asynchronous code?

[2016-08-02 00:54] joespeed commented on #155
@mittonk anyway to omit these "service area" false hits? trying to find tacos in National Harbor MD w/in walking distance

[2016-08-02 02:15] mittonk commented on #155
If you don't want to include results that "Can deliver a taco to where you're standing", I'd suggest post-filtering by distance.

[2016-08-02 03:54] MarkXMx commented on #157
Same problem:
For instance, form the YELP API Console run a search:
https://api.yelp.com/v2/search/?term=3 FORTY GRILL&location=340 SINATRA DRIVE, HOBOKEN, NJ
you get 30 business, no one is even close to the one provided in the search.
Whereas, this is the business: https://www.yelp.com/biz/3-forty-grill-hoboken
Is not returned in the 30 results.
How is it possible?

[2016-08-02 03:59] MarkXMx opened #159 "API search not returning accurate results"
For instance, form the YELP API Console run a search:
https://api.yelp.com/v2/search/?term=3 FORTY GRILL&location=340 SINATRA DRIVE, HOBOKEN, NJ
you get 30 business, no one is even close to the one provided in the search.
Whereas, this is the business: https://www.yelp.com/biz/3-forty-grill-hoboken
Is not returned in the 30 results.
This happens with many other cases.

[2016-08-02 13:39] mittonk commented on #157
@MarkXMx : I think you're seeing a different issue.

https://www.yelp.com/biz/3-forty-grill-hoboken is marked "Closed".  The web page has the banner "Yelpers report this location has closed." and it's been closed long enough (looks like ~1.5 years) that it doesn't appear in www.yelp.com searches either.

[2016-08-02 13:40] mittonk commented on #159
@MarkXMx :

https://www.yelp.com/biz/3-forty-grill-hoboken is marked "Closed".  The web page has the banner "Yelpers report this location has closed." and it's been closed long enough (looks like ~1.5 years) that it doesn't appear in www.yelp.com searches either.

[2016-08-04 23:02] galskari opened #160 "API V3 results are not sorted by distance"
Hi Community,
I am sending the following request:

https://api.yelp.com/v3/businesses/search?sort_by=distance&term=coffee+place&location=1090+folsom+St+San+Francisco

I get blue-bottle-coffee-co-san-francisco-7 as the first result. However, sightglass-coffee-san-francisco is closer to this location. It seems that no matter what address I send around this area I get the same sort. Even when I am re

[2016-08-08 18:51] tomelm commented on #160
Hey @galskari, I'm going to close this ticket so we can discuss it in the v3 docs repo (https://github.com/Yelp/yelp-api-v3/issues/29)

[2016-08-08 18:51] #160 closed

[2016-08-10 02:24] eriktx11 opened #161 "How to implement Yelp Api inside onPerformSync"
Could you guys look into this. I'm stuck trying to run the yelp api inside the onPerformSyn.
How can I possible do this. I'm getting the error below. I haven't been able to solve this for days.
Please help is appreciated.

public class SyncAdapter extends AbstractThreadedSyncAdapter{
    public final String LOG_TAG = SyncAdapter.class.getSimpleName();
    public static final int SYNC_INTERVAL = 4;

[2016-08-11 04:06] jplipata opened #162 "Yelp Api sometimes returns incomplete number of businesses"
I'm making Search API calls using the `offset` parameter.  Occasionally the API returns fewer actual results than specified in the `total` field in the response body.

E.g. The response body `total` field = 136, however when I make the last call with offset 120, I only receive 15 results, which totals 135 not 136

I don't believe the problem is with my code because, a) before today I never had thi

[2016-08-11 04:14] tenprint commented on #162
Here are the calls:
`https://api.yelp.com/v2/search?term=lunch&ll=40.7224164,-73.8428712,29.238&radius_filter=1000&offset=120` <-- This one has `total`=136 but only returns 135 results

`https://api.yelp.com/v2/search?term=restaurants&ll=40.7224164,-73.8428712,29.2&radius_filter=1000&offset=120` <-- This one has `total` = 140 and returns 140 results

[2016-08-12 21:24] tenprint commented on #162
bump

[2016-08-15 15:52] kthouz commented on #162
Am not sure if this might be the issue but have you thought about the index offset? Depending on the language you are using, sometimes the first index starts on 0 (Python, Java) or 1 (R, Matlab)

[2016-08-15 16:26] tenprint commented on #162
Thanks for the suggestion.

I have traced through my code and while it's possible there's something I'm overlooking, I do believe the API is returning an incorrect number of results at times.  E.g. For a query that has `total` of 140 and `offset` of 120, I should receive 20 results, however sometimes I receive less.  It's intermittent, sometimes it happens, sometimes it doesn't.

I'm making multip

[2016-08-15 16:33] mittonk commented on #161
@tzuhanwu : See anything obvious?

[2016-08-15 16:55] davidtzuhanwu commented on #161
Hello @eriktx11 , looks like you are developing on Android. There is an Android clientlib(https://github.com/Yelp/yelp-android) which provides the integration of API calls to our V2 APIs. Please take a try there, it should save you some time.

[2016-08-15 16:59] kthouz commented on #162
Very Interesting! I just came across a similar issue on [stackoverflow](http://stackoverflow.com/questions/26918429/using-yelp-api-to-estimate-number-of-businesses-in-a-given-city). It looks like the total attributes gives different results. My guess is that this is just an internal glitch on how the api was built. Sure, it would be better to hear from Yelp Tech Support

[2016-08-15 17:08] #161 closed

[2016-08-16 21:42] FYJen commented on #162
Hi @tenprint :

We are able to reproduce using the same queries that you have provided but have yet to identify what the bug is so we do not have an ETA yet. We'll keep you posted if we find anything

[2016-08-18 02:30] tenprint commented on #162
Hi, below is some more info (responses/queries).  I'm getting inconsistent results using offsets -- `total` fluctuates depending on the response and I'm not always getting 20 businesses when I should.

I don't see why it would be related, but this started happening the day I reset my API key.

Thanks

Responses:
{...}
offset=40 `total = 140` `businesses` size = 20
offset=60 `total = 140` `business

[2016-08-18 14:52] tenprint commented on #162
Here's another example using a different query:

https://api.yelp.com/v2/search?term=restaurants&ll=40.7430911,-73.988696,500.0&radius_filter=1000&offset=780

Response returned 19 businesses while `total` is 1175

https://api.yelp.com/v2/search?term=restaurants&ll=40.7430911,-73.988696,500.0&radius_filter=1000&offset=840

Response returned 18 businesses while `total` is 1175

https://api.yelp.com/

[2016-08-18 16:00] btaitano opened #163 "Yelp API not returning data for one of my clients"
I have been debugging the issue but it all points to Yelp API not returning data based on the client's phone number: 7137776453
http://www.1800dentist.com/dentists/dr-ronald-moon/web-ugc/

I have checked other client profiles and there are no issues, for example:
http://www.1800dentist.com/dentists/bijan-family-dental-practice/web-ugc/
http://www.1800dentist.com/dentists/dr-bhairavi-sheth/web-ugc/

[2016-08-18 23:39] FYJen commented on #163
Hi @btaitano :

Could you post the phone search queries here for all three businesses?
That would help us identify the issue.

[2016-08-25 17:18] cambuilt opened #165 "INVALID_SIGNATURE with Swift 3 Xcode 8 beta 6"
I consistently get this error using OAuthSwift with different branches and forks. However, in Xcode 7.3 with Swift 2.0, I have no problem.

Anybody else having this issue?

[2016-08-25 19:01] worrel commented on #104
To other who come here & still have issues I've found Postman is not replacing URL variables before generating the OAuth signature (e.g. if you have /business/:business-id) it will fail with invalid signature.  Otherwise the advice on #111 seems to work great.

[2016-08-25 19:20] josetheveg opened #166 "Update to the Windows Phone Yelp! App?"
Are we going to see an update any time soon to the Windows Phone Yelp! app? It's seems overdue. Lacking many options and it seems so far behind the app on other OSes. Thank you!

[2016-08-25 22:36] mittonk commented on #165
Compiler-version-specific stuff is probably easier to debug over in https://github.com/Yelp/yelp-ios , filed https://github.com/Yelp/yelp-ios/issues/41 --- let's continue over there.

[2016-08-25 22:36] #165 closed

[2016-08-25 23:53] mittonk commented on #166
@josetheveg : That sounds like good input for the Microsoft Store page:
* https://www.microsoft.com/en-us/store/p/yelp/9wzdncrfj2jn

(Not directly part of the Yelp API, not much more to say in this Github project.)

[2016-08-25 23:53] #166 closed

[2016-08-25 23:54] mittonk commented on #166
(Ah, I see you've already found that.)

[2016-08-30 18:21] SuzHarrison opened #167 "Yelp not returning display_phone"
my app has broken today due to the following error - has there been a change to the API?

undefined method `[]' for nil:NilClass display_phone

Thanks in advance!

[2016-08-30 21:06] mittonk commented on #167
@SuzHarrison :
1. Are you using /v2 or /v3 endpoints?  Which specific endpoint?

2. Are you using a library like https://github.com/Yelp/yelp-ios ?  If so, which one in particular?

[2016-08-30 21:29] SuzHarrison commented on #167
Problem in my code! So sorry!

[2016-08-30 21:29] #167 closed

[2016-09-01 01:32] huidi7 opened #168 "Consult on location search api"
Hi,

I'm using yelp api for restaurant search. Could you please help to shed some lights on the following questions?

1. What is the center location for a location search with radius_filter? For example, how is the center location selected for the following query? Is the center location the same as the one in the query response in region? Why this changes when i use a different radius_filter?
http

[2016-09-01 14:00] mittonk commented on #168
@huidi7 ,

1. When specifying search location using words, we geocode the string to find a location:
https://en.wikipedia.org/wiki/Geocoding

The "region" response shows the center and size of a good view of the results --- which is closely related to the search area, but not always the same.  (If all the results are on the east side of town, the "region" will be centered around them, not the cent

[2016-09-06 15:56] jlevente opened #169 "PokeStop filter is gone"
Hi,

I'm a PhD candidate at University of Florida and I'm conducting an academic research about the "Geography of Pokemons". One of my research questions aimed to deal with the aspects of how the public interact with this new trend (i.e. people are crazy about it and go catch Pokemons everywhere). Your example of using PokeStops nearby property on businesses was a nice example of it and it would'v

[2016-09-06 16:14] alexwhin opened #170 "Getting full reviews"
Hi,

After working with 3.0 I can't seem to find any way of pulling out full review listing, is this possible?
Any help would be very much appreciated.

Best regards,
Alex

[2016-09-06 21:16] mittonk commented on #169
@jlevente : Hm, let me look into this.

[2016-09-06 21:16] tomelm commented on #169
@jlevente could you clarify how you were using the PokeStop filter through the API?

[2016-09-06 22:51] jlevente commented on #169
@mittonk @tomelm thanks guys for looking into this.

I was using the search API with `term` and `bounds` filters. `term` was set to `PokeStop` or `PokeStop nearby` ( I can't recall exactly what I used last week) but now it's the same. sample code with the Python yelp-python:

[code]

[2016-09-06 22:56] jlevente commented on #169
and actually, businesses with `PokeStop` mentions in reviews are still being returned by `term=PokeStop` though.

[2016-09-08 07:20] huidi7 commented on #168
Thank you for your clarification @mittonk.

Another question on the sort rule for the search API: when I search McDonald's by distance, the returned result seems nothing to do with it.

For example,
https://api.yelp.com/v2/search/?term=McDonalds&sort=1&ll=47.634832478669644,-122.04643455929276

[2016-09-08 08:18] huidi7 commented on #168
If I search McDonald's by best matches, what is the ranking rule for the these items with same name as "McDonald's"?

[2016-09-08 14:27] mittonk commented on #169
OK, looks like this is part of a tradeoff we're making in the search backend; we're still getting terms-in-reviews matches, but no longer matching the attribute value.

Need to discuss the tradeoffs internally for a while, but this isn't just a simple bug fix.

[2016-09-08 15:18] mittonk commented on #168
@huidi7 : Hm, the distance sort looks to be working for me for that search.  Here's the URLs and distances I see:
[code]
That's in nice distance order.  If you're seeing something different, could you provide the output you see?

As to "Best Match": That looks at review content, name, and many other factors.  It's not just a name match.

Does that answer your questions?

[2016-09-08 15:57] SchlegelThomas opened #171 "No results for category_filter with fishing"
Hi,
I've been using the yelp search api v2.0 for a while now.  We recently expanded our category selection on our site and have included 'fishing'.  However, when testing I'm not getting expected data from the api.

Here is a link to some results I can achieve just through your site: https://www.yelp.com/search?find_desc=fishing&find_loc=Guntersville,+AL&start=0&cflt=fishing&l=g:-86.18007116546937

[2016-09-08 18:50] mittonk commented on #171
@SchlegelThomas : The five examples I see on your www.yelp.com search all have 0 reviews, which means they're not accessible through the Yelp API.  Sorry!

When you remove the category filter, you're indeed getting restaurants where people's reviews talk about "came here after fishing" or similar.

[2016-09-08 18:56] #171 closed

[2016-09-09 09:27] huidi7 commented on #168
@mittonk
yes, the distance order is right. I just wonder why the name of the first one is not "McDonald's" ?

   "businesses": [
        {
            "is_claimed": true,
            "rating": 3.5,
            "mobile_url": "http://m.yelp.com/biz/mod-pizza-sammamish-4?adjust_creative=7OM7gFZOwEDszaTgrAM8wg&utm_campaign=yelp_api&utm_medium=api_v2_search&utm_source=7OM7gFZOwEDszaTgrAM8wg",

[2016-09-09 11:40] jlevente commented on #169
Thanks for the update. Ping me when you decide and there's a way to match attributes again? @mittonk

[2016-09-12 19:54] daniellabirch opened #172 "monetizing"
The Yelp [display requirements](https://www.yelp.com/developers/display_requirements) state:
"You can monetize your apps and sites to your heart’s content -- we don’t require any sort of revenue share - but don’t create tools for sale that extend Yelp functionality (such as Facebook integration)."

I'm making an app that incorporates bike share locations with local business and I'm using Yelp to p

[2016-09-14 20:08] mittonk commented on #172
On the monetizing front: There are a bunch of approaches; the most common are including ads in your app, or charging for your app in the Android / Apple / whatever store.

(I'm not qualified to interpret the legalese in the display requirements.)

[2016-09-14 20:37] d9chen commented on #170
Hi @Alexwhin, by 'full review listing' do you mean all reviews for a given business? If so 2.0 does not offer that capability. The [business API documentation page]( https://www.yelp.com/developers/documentation/v2/business) offers a good example on what you can  expect from responses containing review information.

[2016-09-16 18:26] mittonk commented on #152
Been quiet, closing issue.

[2016-09-16 18:26] #152 closed

[2016-09-16 19:49] mittonk commented on #157
Can't reproduce issue, closing.

[2016-09-16 19:49] #157 closed

[2016-09-16 19:50] mittonk commented on #153
Working as expected, closing.

[2016-09-16 19:50] #153 closed

[2016-09-16 19:56] mittonk commented on #168
Yelp Search isn't a simple name lookup --- it takes into account review text and a variety of other signals.

If you're only looking for businesses named exactly "McDonald's", I'd suggest post-filtering the results.

[2016-09-16 19:56] #168 closed

[2016-09-19 23:38] bradcypert opened #173 "Unable to get a full review for myself"
Is it possible to get a full, non-truncated review for a given user? The closest thing I could find was my RSS feed, but it truncates the review part of the way through.

I really think this should be exposed, as it's what helps make Yelp unique and is a primary reason to even want to use your API.

[2016-09-20 19:10] mittonk commented on #173
@bradcypert : Full review text isn't available.  What's your use case?

[2016-09-21 00:20] bradcypert commented on #173
@mittonk: I'm playing with Rust and decided to create a pet project to learn the language. I thought it'd be a fun idea to be able to pull a specific users reviews and allow them to generate a static website from it with their reviews, acting as basically a food critic blog.

[2016-09-26 17:05] mittonk commented on #163
@btaitano : What Yelp listing do you expect to find?

https://www.yelp.com/biz/ronald-j-moon-dds-the-dental-cosmetic-center-of-houston-houston-5 has a different phone number (and is marked closed).

[2016-09-26 17:05] #159 closed

[2016-10-03 13:40] compworkmail opened #174 "access token for api v3 doesn't work"
I have created new API v3 app, received client id and secret, received access token and try to sign my request to retrieve reviews, but I have an error:
request:

curl --header "access_token: my_token_here" https://api.yelp.com/v3/businesses/sugarfoot-san-francisco/reviews

error:
{"error": {"code": "TOKEN_MISSING", "description": "An access token must be supplied in order to use this endpoint."}}

[2016-10-03 13:57] mittonk commented on #174
@compworkmail : In CURL syntax, aim for:
[code]
Note that the header is "Authorization" (not "access_token") and the value includes "Bearer " before your actual token.

[2016-10-03 13:57] #174 closed

[2016-10-03 14:05] compworkmail commented on #174
thanks. It would be great if you will add this example to your API v3 documentation to avoid new misunderstandings.

[2016-10-04 07:29] compworkmail opened #175 "official API v3 php library"
Hello developers team. As I see v3 API is now main on developers site of yelp, but why there is now official or even unofficial php v3 library yet created? Are you planing to create v3 php library or this new API for now only in testing mode and you don't plan to create any libraries for it at all? If you will create it, when it will be approximately? Thanks.

[2016-10-04 12:38] mittonk commented on #175
We haven't figured out the timing yet --- we'll share more details as we work them out.

[2016-10-05 17:41] dtnguy72 opened #176 "Updated yelp-api for iOS 10 and Swift 3"
Hello,

It there a way to get the updated version for the yelp api for the current iOS 10 and Swift 3 update?

Thanks

[2016-10-05 17:48] mittonk commented on #176
@dtnguy72 : Are you hitting issues using the current version?

[2016-10-05 17:50] dtnguy72 commented on #176
Hello,

Yes, I am just having some trouble converting it to the latest version of Swift.

[2016-10-07 19:17] mittonk commented on #124
Need to reboot this investigation.

[2016-10-08 04:23] mittonk commented on #145
"%2520" looks double-escaped to me.

How are you entering the location?

Does location "Boston" (no spaces) work?

Again, the answers may have been in your screenshots, but they've expired.

[2016-10-08 04:23] #145 closed

[2016-10-09 21:47] chribsen opened #177 "Business Reviews API always returns 1 review"
I am currently using the `/v3/businesses/{id}/reviews` to retrieve the most recent reviews for a company. However after doing some unit testing on your endpoints it seems like the endpoint is always returning max. 1 review without pagination possibility when `total` > 1:

[code]
Is this the intended behaviour? The following documentation seems to suggest otherwise (e.g. the  `response body` used a

[2016-10-10 12:51] mittonk commented on #177
@chribsen : Your example business only has 1 review in English; see https://www.yelp.com/biz/davids-stege-2 .

There's also a Danish review, which you can get by adding `locale=da_DK` to your request from https://www.yelp.com/developers/documentation/v3/supported_locales .

Yelp Fusion supports returning a maximum of three reviews in a language --- see a business like `next-door-cafe-københavn-3`

[2016-10-10 12:51] #177 closed

[2016-10-10 14:20] chribsen commented on #177
Thanks! Adding url argument `?locale=dk_DK` solved the problem. Maybe this parameter (along with any other optional parameters) can be added to the _Parameter_ section under the endpoint? https://www.yelp.com/developers/documentation/v3/business_reviews

[2016-10-10 18:26] virgytam commented on #176
Hi @dtnguy72, what is the specific issue you're facing? Error messages would be very helpful.

[2016-10-10 18:55] mittonk commented on #177
Definitely, doing that as part of
* https://github.com/Yelp/yelp-fusion/issues/3

(Forgot to leave a note over here, whoops.)

[2016-10-10 19:50] dtnguy72 commented on #176
Hello,

I just take a screenshot of the error messages I am receiving. I tried reinstalling the pod but get the same errors.

[2016-10-10 20:14] mittonk commented on #177
`locale` is now listed on
* https://www.yelp.com/developers/documentation/v3/business_reviews

[2016-10-10 20:17] virgytam commented on #176
Can you share the screenshot or the error message?

[2016-10-10 21:01] dtnguy72 commented on #176
Hello,

Here is the screenshot in the png file attachment

On Mon, Oct 10, 2016 at 3:17 PM, Virginia Tam <notifications@github.com>
wrote:

[2016-10-10 21:13] mittonk commented on #176
@dtnguy72 : Looks like you're trying to send your screenshot via email --- I don't think that's going to work.

Instead, try logging into github.com and following:
* https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/

[2016-10-10 21:18] dtnguy72 commented on #176
<img width="1280" alt="screen shot 2016-10-10 at 4 00 18 pm" src="https://cloud.githubusercontent.com/assets/21061299/19251471/07c26cd4-8f05-11e6-98e2-90b63cfecf8b.png">

Hopefully you can read this now.
![image](https://cloud.githubusercontent.com/assets/21061299/19251487/1c6aa12e-8f05-11e6-8d1c-b7aab14b32a2.png)

[2016-10-10 21:29] virgytam commented on #176
just wanted to respond back that we can definitely see the attachment now. currently looking into the issue

[2016-10-10 21:30] dtnguy72 commented on #176
Great!

Thanks so much for your help!

[2016-10-10 21:36] virgytam commented on #176
Hi @dtnguy72, can you tell us what steps you took to reinstall the CocoaPod?

I found a similar issue on StackOverflow here: http://stackoverflow.com/questions/17072396/cocoapods-errors-on-project-build and the top response was to remove the workspace file and then run `pod install` again. Maybe give that a shot first?

[2016-10-10 21:54] dtnguy72 commented on #176
I tried reinstalling the pod again and opened the workspace file successfully without any errors. However when I tried running the project, the build successed but the simulator did not appear.

Re-creating CocoaPods due to major version update.
Analyzing dependencies
Downloading dependencies
Installing OCMock (3.1.5)
Installing OHHTTPStubs (4.6.0)
Installing OMGHTTPURLRQ (3.1.1)
Installing TDOAut

[2016-10-10 22:14] dtnguy72 commented on #176
Thank you! I think I can get it from here.

[2016-10-11 00:08] virgytam commented on #176
cool! I'll close this issue then.

[2016-10-11 00:08] #176 closed

[2016-10-11 15:12] #175 closed

[2016-10-21 15:48] mittonk commented on #124
Repro'd again using Postman, poking more.

[2016-10-26 13:32] marcusk71 commented on #51
I see that a node-yelp-api libarary has been created: https://www.npmjs.com/package/node-yelp-api.  But I don't know how to make use of this.  Is this more secure?  Any examples of using this would be appreciated.

[2016-10-26 14:42] mittonk commented on #51
@marcusk71 : That Node package requires server-side code.

[2016-10-31 15:10] NikitaTurakhia opened #178 "I am getting only 14 businesses at a time instead of 20 in business api"
hello @tomelm  and @mittonk ,

I am using api v3.
When I run business api for restaurants, I am getting only 14 businesses instead of 20 and while I enter pizza as a term in business  api, I am getting only 3 searches.

Thanks.

[2016-11-14 21:21] matiasironyard opened #179 "Ajax request error - React App"
Hi,

I'm in the process of creating a client where the user inputs their business phone number and the app creates their profile using the phone number search results . I'm currently trying to do a get request as follows, but I get this error:

XMLHttpRequest cannot load https://api.yelp.com/v3/businesses/search/phone?phone=%2018645955240. Response to preflight request doesn't pass access control

[2016-11-14 21:48] mittonk commented on #179
@matiasironyard : Sounds like you're trying to do cross-origin resource sharing (CORS); we don't support that flow.

See https://github.com/Yelp/yelp-fusion/issues/44 for details and alternatives.

[2016-11-14 21:48] #179 closed

[2016-12-01 03:21] mittonk commented on #178
@NikitaTurakhia : Sounds like this was the same thing you reported in
* https://github.com/Yelp/yelp-fusion/issues/87

Let's keep discussing in
* https://github.com/Yelp/yelp-fusion/issues/92

Closing this one.

[2016-12-01 03:21] #178 closed

[2016-12-06 14:24] bcowman opened #180 "radius_filter 400 bad request"
I'm trying to find businesses within a certain radius of a longitude/latitude.  However I keep getting a 400 bad request error.

Sample Request: https://api.yelp.com/v2/search?term=food&cll=51.93,-8.45&radius_filter=4000

[2016-12-06 14:34] #180 closed

[2016-12-06 14:35] bcowman commented on #180
RFTM.  location is required.

[2016-12-06 21:58] #158 closed

[2017-01-02 16:09] xal629 opened #181 "Invalid Parameters"
![screen shot 2017-01-02 at 9 26 51 am](https://cloud.githubusercontent.com/assets/24877869/21592473/4fea33e2-d0d3-11e6-9519-2803d6beafab.png)
![screen shot 2017-01-02 at 9 27 15 am](https://cloud.githubusercontent.com/assets/24877869/21592470/4fe88bd2-d0d3-11e6-86a2-bf77af42b39e.png)
![screen shot 2017-01-02 at 9 27 27 am](https://cloud.githubusercontent.com/assets/24877869/21592472/4fe94d38-d0d3

[2017-01-02 21:57] mittonk commented on #181
@xal629 : Looks like you're using the non-Yelp "Yelp Widget Pro":
* https://wordpress.org/plugins/yelp-widget-pro/

We can't provide support for that 3rd party product --- please check out their FAQ, I suspect they want less data in the "Business ID" box:
* https://wordpress.org/plugins/yelp-widget-pro/faq/

[2017-01-02 21:57] #181 closed

[2017-01-03 00:54] xal629 commented on #181
What is the correct app/widget? This is what pulls up for wordpress.

Sent via the Samsung Galaxy S7 active, an AT&T 4G LTE smartphone
-------- Original message --------From: Ken Mitton <notifications@github.com> Date: 1/2/17  3:57 PM  (GMT-06:00) To: Yelp/yelp-api <yelp-api@noreply.github.com> Cc: xal629 <krishersh@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [Yelp/yelp-api] Inva

[2017-01-03 14:06] mittonk commented on #181
There is no official Yelp widget for Wordpress.

[2017-01-04 14:58] mittonk commented on #181
(For other readers looking to embed a single review: hover over a review on www.yelp.com and select "Embed Review" to get copy-pasteable HTML code.  Not a great match for this user's use case, though.)

[2017-01-06 17:10] rahuls1 opened #182 "Invalid Parameter"
Hi all,

I am trying to make a request with following api.

https://api.yelp.com/v2/search/?term=dinner&location=San Francisco, CA&limit=20&radius_filter=10000&oauth_consumer_key=anNmxVYyr4icE2usriqRhg&oauth_token=Mt6Wpv2N6DiUaBnIkuSV9oL0L0IetwsB&oauth_signature_method=HMAC-SHA1&oauth_signature=nirEvIvOl7d2L6PD9jvx9jKvTPQ&oauth_timestamp=1483452024&oauth_nonce=5

Bt giving Invalid Parameter.

{"er

[2017-01-11 21:09] #170 closed

[2017-01-12 14:10] rahuls2704 opened #183 "Yelp API returns a missing parameter error"
I try to retrieve some information from Yelp API for a UWP app. As they say here, I need to pass some parameter as header for a HTTP request, and then perform a Json request using this link. I know how to parse a Json file once I get it, but I have no idea how to get access to this file.

If for example I put https://api.yelp.com/v2/search?term=food&location=San+Francisco&oauth_signature_method=HM

[2017-01-12 16:10] mittonk commented on #183
@rahuls2704 : Looks like you're trying the older V2 API; for new development, I'd suggest the newer Fusion (V3) API instead:
* https://www.yelp.com/developers/documentation/v3/get_started

The OAuth configuration in Fusion is much simpler and easier to use.

[2017-01-12 16:10] #183 closed

[2017-01-12 17:40] tomelm commented on #182
Same as #183, closing.

[2017-01-12 17:40] #182 closed

[2017-01-12 17:47] rahuls1 commented on #183
Thanks...

[2017-01-16 15:01] rahuls2704 opened #184 "TOKEN_MISSING"
I try to retrieve some information from Yelp API for a UWP app. As they say here, I need to pass some parameter as header for a HTTP request, and then perform a Json request using this link. I know how to parse a Json file once I get it, but I have no idea how to get access to this file.

If for example I put

https://api.yelp.com/v3/businesses/search?term=delis&latitude=37.786882&longitude=-122.3

[2017-01-16 18:23] mittonk commented on #184
@rahuls2704 : Check out https://www.yelp.com/developers/documentation/v3/get_started .

First, follow "Get an access token" to use POST `api.yelp.com/oath2/token` with your App ID and App Secret to get an access token.

Next, include that access token in the "Authorization" header:
| Header Name ("Key" in Postman) | Header Value ("Value" in Postman) |
| --- | --- |
| Authorization | Bearer MY_TOKE

[2017-01-17 12:39] rahuls2704 commented on #184
Thanks for your response, but not getting any success.

//**********//
Check out https://www.yelp.com/developers/documentation/v3/get_started .

First, follow "Get an access token" to use POST api.yelp.com/oath2/token with your App ID and App Secret to get an access token.
//**********//
I'm not getting the above point. please explained in detail. Thanks in advance.

[2017-01-17 17:22] mittonk commented on #184
@rahuls2704 : Are you using Postman, curl, or something else to make your request?  I can try to use the words your tool uses.

Do you know how to make a POST request?  It's not easy to do manually in a web browser, so most people use either Postman or curl.  If you're just starting out I'd suggest Postman:
* https://www.getpostman.com/

We've set up a list of our URLs in Postman's config format,

[2017-01-18 14:12] rahuls2704 commented on #184
Hello sir, Thanks for your positive response. I have follow above all
steps, also i got my access token. please see below code

{
  "expires_in": 15551999,
  "token_type": "Bearer",
  "access_token": "my 128 digit code"
}

When i hit below URL

https://api.yelp.com/v3/businesses/search?term=delis&latitude=37.786882&longitude=-122.399972&access_token=my_access_tokenid

I will  get following respnos

[2017-01-18 15:18] mittonk commented on #184
@rahuls2704 : Great, that's the first step.

Now, for the `/v3/business/search` request: Do not put your "access_token" in the URL.  It needs to go in a Header instead.

1. If you're using Postman, click the "Headers" tab (https://www.getpostman.com/docs/requests#headers), and add:

| Header Name ("Key" in Postman) | Header Value ("Value" in Postman) |
| --- | --- |
| Authorization | Bearer MY_TOK

[2017-01-19 14:31] rahuls2704 commented on #184
Really Great Support from your site. Thanks a lot. You save me lots of time. Thanks a bunch of tone.

[2017-01-19 14:38] mittonk commented on #184
@rahuls2704 : Wonderful!  If you have any more questions, head over to
* https://github.com/Yelp/yelp-fusion

and good luck!

[2017-01-19 14:38] #184 closed

[2017-01-23 17:25] mittonk commented on #163
That phone number matches:
* https://www.yelp.com/biz/moon-cosmetic-dentistry-houston-3

which had no businesses in Aug 2016, when this issue was filed.

It does now, and seems to be working as expected.

The Yelp API does not provide information on businesses without reviews.

[2017-01-23 17:25] #163 closed

[2017-01-29 20:34] connor11528 commented on #51
Okay for sure. Opened an issue on the node-yelp repo. In order to yelp api you need to make request from a server not a browser. It sounds like there is no way to get past this CORS error using client side code

Thank you!

https://github.com/olalonde/node-yelp/issues/25

[2017-01-30 04:41] faresallolo commented on #179
Hi,
may you clarify a few things for me please. I am building an app and need to get Hours of operation. I noticed only yelp v3 has it. So, I tried it using angularjs and I got into this same issue with jsonp.

I have tried $httpProvider.interceptors , $sceDelegateProvider.resourceUrlWhitelist, and $http.dafults.headers.common but I had no luck.

Even though, this works perfectly :
curl   -X GET

[2017-02-05 11:01] caraya commented on #51
JSONP may be a good idea to get around CORS restrictions. I'm experimenting to see if I can come up with something that makes sense

[2017-02-17 02:10] khoick245 commented on #184
Could you make the Java example for this, sir? I understand the Java v2 sample, but when I try to do with v3, I got stuck at this step {"error": {"description": "An access token must be supplied in order
to use this endpoint.", "code": "TOKEN_MISSING"}}.
I tried to change the key and token from Java v2 file into like this:
<img width="941" alt="screen shot 2017-02-16 at 6 07 06 pm" src="https://cl

[2017-03-04 22:27] doriansgithub commented on #143
So how does Apple get it?

[2017-03-05 19:56] tomelm commented on #143
This is now on the Fusion API if you want it: https://www.yelp.com/developers/documentation/v3/business

[2017-03-05 20:18] doriansgithub commented on #143
Thanks, we’ll check it out!

[2017-03-31 15:08] benrud opened #185 "Example of /businesses/{id} for php"
Hello Everyone,

I'm a high school web design teacher and I'm trying to develop a project to teach my students how to use API's. This is my 1st attempt with them.

I'd like to learn how to request specific business information from yelp using the business endpoint (https://www.yelp.com/developers/documentation/v3/business) and echo specific data (rating and address) on the page using php. I've loo

[2017-03-31 16:58] mittonk commented on #185
@benrud ,

We've got a separate Github area for the current Fusion (V3) API, check out
* https://github.com/Yelp/yelp-fusion
and in particular the PHP example at
* https://github.com/Yelp/yelp-fusion/tree/master/fusion/php

That example does the hard part of calling the `api.yelp.com/v3/business/BUSINESS_ID` and printing the output --- have you done enough PHP to wire that into a simple hello-worl

[2017-03-31 17:56] benrud commented on #185
Hey Milton,

Thanks for the directions and sorry for posting in the wrong place. I'll post this question over there.

I've seen the https://github.com/Yelp/yelp-fusion/tree/master/fusion/php example and have it working here - http://foothillertech.com/student/webdesign/2016/02_benrud/tinker/data/ , but I'm trying to get a working example of the business endpoint (https://www.yelp.com/developers/do

[2017-03-31 19:50] mittonk commented on #185
Great, let's continue over in yelp-fusion#202 !

[2017-03-31 19:50] #185 closed

[2017-03-31 20:01] benrud commented on #185
Thank you!

[2017-04-04 16:57] daxiang28 commented on #131
@TimbW did you ever figure out a mapping for NAICS?

[2017-05-18 09:43] francesco1119 opened #186 "No total number in JSON result"
On this [page ](https://nz.yelp.com/developers/documentation/v3/get_started) on your documentation I can see a JSON query can return the total of the business in the very first line.

![total](https://cloud.githubusercontent.com/assets/3397477/26196385/ec573432-3c12-11e7-9411-40ec0ded61fc.PNG)

Why I don't have the same with Postman?
I use exactly the same query as in your example

[2017-05-22 10:04] francesco1119 opened #187 "How setup search by zip code"
I'm trying to retrieve cinemas by zip code so in the URL I set New Zealand as Country Code (`cc=NZ`) and Auckland city center zip code 1010 (`location=1010`)

`https://api.yelp.com/v3/businesses/search?cc=NZ&location=1010&categories=movietheaters`

Postman returns me 8 cinemas in Kentucky, USA :(

So I also add "New Zealand" in the URL location for more accuracy (`location=New+Zealand+1010`)

`htt

[2017-05-22 13:49] mittonk commented on #186
@francesco1119 : Postman (like most JSON tools) doesn't always list the parts of the response in the same order.  Sometimes it lists `total` at the end:
[code]

Could you look at the end of the output, and see if `total` is there?

[2017-05-22 13:50] mittonk commented on #186
Also: this is a Fusion API (V3 API) question, so https://github.com/Yelp/yelp-fusion will be more helpful than https://github.com/Yelp/yelp-api (the old V2 API group).

[2017-05-22 13:51] mittonk commented on #187
@francesco1119 : Let's move this over to https://github.com/Yelp/yelp-fusion:
* https://github.com/Yelp/yelp-fusion/issues/233

[2017-05-22 13:51] #187 closed

[2017-06-08 13:43] Joyliu290 opened #188 "Yelp blocked me from using their API"
Hi I'm programming an Android app that uses Yelp API Fusion 2 to output nearby restaurants. However I've noticed that Yelp has blocked my home wifi because of me testing my app and calling Yelp API, and now I can't even login to Yelp.com on my browser. Every wifi source I go to test my app, Yelp has blocked that wifi. I'm very frustrated because building app is my passion and I was a big fan of Ye

[2017-06-08 13:50] Joyliu290 commented on #188
Feel free to look at my repository "Food Decision App" and tell me if I need to fix anything in relation to this issue. Otherwise I believe this issue has nothing to do with my code, but with Yelp itself blocking me for no apparent reason.

[2017-06-08 16:52] tomelm commented on #188
Hey @Joyliu290, sorry you got blocked but sometimes it's an automatic action that our site takes and can be caused by a lot of things (like someone sharing an IP address and doing something malicious). Unfortunately I can't handle unblocking you but if you email api@yelp.com with your IP address they should be able to assist more.

[2017-06-08 18:24] Joyliu290 commented on #188
Hey @tomelm thanks for the reply, but no one in my house uses Yelp except for me, and I never done anything malicious other than using the Yelp's api. How likely would someone be able to reply to my email if I email api@yelp.com? I googled this a bit and people have said that Yelp rarely responds to email and phone calls...hence I'm posting this issue here on Github.

[2017-06-08 20:24] tomelm commented on #188
It doesn't have to be someone in your house, IPs get recycled so it could be you got a new IP recently that was previously blocked. That's to say that that's what going on though, but that's possible.

api@yelp.com will respond to you for this issue, the alias is pretty responsive to issues like these. This repo is more focused on providing technical assistance on the API itself, IP blocks having

[2017-06-09 18:06] Joyliu290 commented on #188
Ok I see. Thank you!

[2017-06-09 18:06] #188 closed

[2017-06-09 19:51] tomelm commented on #188
I saw they responded to you :D

If they stop responding let me know and I'll poke them.

[2017-06-19 21:36] rob-derosa commented on #173
I would also like to have the option of returning the full review. Use case is to run sentiment analysis on the review to see if it matches the rating given.

[2017-06-19 23:47] tomelm commented on #173
@bradcypert @rob-derosa I would recommend you checkout the dataset we have available from the dataset challenge: yelp.com/dataset_challenge

It'll give you a couple of million reviews to try this out with :). The caveats here are that the dataset is for purely educational purposes and is not "fresh".

[2017-06-19 23:47] #173 closed

[2017-06-20 02:43] #151 closed

[2017-06-20 02:44] tomelm commented on #169
Pokestop is not around anymore so there's no way to filter this data, closing.

[2017-06-20 02:44] #169 closed

[2017-06-20 13:05] Joyliu290 commented on #188
Hey sorry to bug you again but they have stopped responding for over a week now 👎 the issue is still not resolved :(

[2017-06-22 18:15] builderLabs commented on #51
Hello,

I've recently had to tackle this task and put my on notes together - you might find my write-up useful.

I've just posted it, you can find it here:

[Yelp Fusion JavaScript](https://github.com/builderLabs/Yelp-Fusion-JavaScript/blob/master/yelp.md)

Hope you find it useful.

[2017-06-26 03:09] Joyliu290 commented on #188
Hey! Good news I'm now unblocked from Yelp! I was reading the display requirements more carefully and realized that I need to put the Yelp Logo on all content originated from Yelp...Is there a way for me to get access to the design of the Logo so I can put it on my app (making one myself is probably not the best option) ? Thanks!

[2017-06-26 16:51] tomelm commented on #188
Awesome! That's all available on yelp.com/brand

[2017-07-11 15:55] #186 closed

[2017-07-11 15:55] #172 closed

[2017-07-11 15:56] #156 closed

[2017-07-11 16:01] mittonk commented on #124
Looks like this is specific to languages that Yelp doesn't yet support --- there's no Yelp Romania yet.

As a workaround, I'd suggest searching in some of the languages Yelp supports:
* https://www.yelp.com/developers/documentation/v3/supported_locales

(That list is from the newer Fusion documentation, but the V2 list of locales is the same.)

[2017-07-12 20:24] mittonk commented on #124
Also: www.yelp.com shows the same behavior, this isn't API-specific.
* https://www.yelp.com/search?find_desc=%C8%99&find_loc=sf => "Sorry, that's an invalid search term."
* https://www.yelp.com/search?find_desc=pizza%C8%99&find_loc=sf => "pizza" results.

Based on that, closing issue.

[2017-07-12 20:24] #124 closed

[2017-09-23 02:48] gurkpet commented on #153
I'm also hoping for more than 1000 results.  I'm a data science student and I am trying to set up analysis that would allow me to locate places in x state that have a lower concentration of x type of restaurants per population.  The limit on 4000 meters is also proving to be problematic.  Is there a way to work around this or am I out of luck?

[2017-10-26 13:10] BhanushankarJoshi commented on #153
am i able to fetch next 1000 record (*next day) then how will i keep track ?

[2017-10-26 13:12] BhanushankarJoshi opened #191 "fetch more then 1000 record"
i know i am able to fetch only 1000 record but if i want to fetch new record then 1000 (on next day query) then how will request API ?
because total result i am getting 4000 and i want them all.

[2017-10-26 15:57] mittonk commented on #191
@BhanushankarJoshi : Only the top 1000 results for a given search are available through the Yelp API.

You might try smaller, more focused searches.

[2017-10-26 15:57] #191 closed

[2017-11-08 20:18] MVEBA opened #192 "No returns with integrated yelp search"
We have a yelp enabled and integrated on our website on real estate listing pages.  Hundreds of them.  There are no results regardless of how wide I open map.  I used a downtown location as a test
![capture2](https://user-images.githubusercontent.com/33497646/32572002-49490708-c497-11e7-84ec-e1b59f414554.PNG)
and no results.  Current token is iE1kRnOSkgWDOAdvYDoMm0bk1FrEq_t0 .  Is it possible it n

[2017-11-09 13:01] mittonk commented on #192
@MVEBA : It'd helpful to see what request you're sending to the Yelp API, and what responses you're getting back --- that will show much more detail than the screenshot.

1. What is one example URL that isn't working?  Probably something like `https://api.yelp.com/v3/businesses/search?location=...`.  If you're not a developer, you might need a developer's help for this step.

2. If that URL has "v

[2017-11-09 20:23] MVEBA commented on #192
<div id="map_addons">
        <div id="toggle_links" class="clearfix">
            <div id="show_yelp" class="expanded">
              <a href="#" onclick="toggle_yelp();; return false;">Yelp Data<span></span></a>
            </div>
            <div id="show_directions" onclick="show_directions();">
              <a href="#" onclick="show_directions();; return false;">Get Directions<span></span></

[2017-11-10 08:52] tomelm commented on #192
Sounds like everything is resolved, closing.

[2017-11-10 08:52] #192 closed

[2017-11-10 14:33] mittonk commented on #192
Doesn't explain everything, but good enough for today!

[2017-11-10 22:11] MVEBA commented on #192
Turns out had another error but guessing web host issue.  No alt tags on yelp buttons.  I tried searching deep into code but no luck finding api.yelp anywhere for request(?) and nothing but not sure my search goes deep into code.

[2017-12-05 18:01] aaduru opened #193 "Validation Error"
Hi,

I trying to make Get Request with Yelp api search endpoint in postman and I am getting validation error.

I am passing the 3 headers, term , location and authorization.

endpoint : https://api.yelp.com/v3/businesses/search

Header
term: food
location: San Francisco
Authorization: Bearer [access_token]

I even tried using the latitude and longitude in header section I am still getting the same

[2017-12-05 18:18] mittonk commented on #193
@aaduru : Term and location are parameters and go in the query string, not as headers:
URL: https://api.yelp.com/v3/businesses/search?term=food&location=San+Francisco
Header
Authorization: Bearer [access_token]

* https://www.yelp.com/developers/documentation/v3/business_search

Does that make sense?

[2017-12-05 18:19] mittonk commented on #193
(Also, this Github repo is for the older V2 API --- in the future, you can post V3 Fusion questions at https://github.com/Yelp/yelp-fusion ).

[2017-12-05 18:27] aaduru commented on #193
Thank you so much.

[2017-12-05 18:27] #193 closed

[2017-12-21 13:57] Enny15 opened #194 "Posting responses to reviews using the Yelp API"
Hello,

I just got introduced to the Yelp API and I was wondering if it's possible to post responses to reviews using the API.

Enny

[2018-01-18 07:31] sriknthjanjirala1 opened #195 "how to intigrate the yelp api"

[2018-01-18 09:01] sriknthjanjirala1 opened #196 "how to integrate the yelp-fusion API"
------------------------PHP------------------------
 i am downloaded the yelp api giving by below the link
https://github.com/Yelp/yelp-fusion

and register on
https://www.yelp.com/developers/v3/manage_app
for api key and get below keys
1) Client ID,
2) API Key ,
3) Client Secret,

when i run yelp api they generate the following error

Warning: assert(): NjHQysh2kED_pvhvYZuaCSm14T1aTBujPaa2z1ngQ0A

[2018-01-18 19:23] #195 closed

[2018-01-18 19:34] tomelm commented on #196
Hey @sriknthjanjirala1!

First, please don't post your API key in the future. That's your personal key which grants you access the API, posting it publicly means that anyone will be able to use it on your behalf and use up your daily access limit. We're going to rotate your key for security reasons, you'll need to delete your app and create a new one.

Unfortunately the code you posted is really h

[2018-01-19 05:55] sriknthjanjirala1 commented on #196
thank you reply
 i am deleted the old app and created the new app
still i get a  same error
 i am using the given below code
link :-     https://github.com/Yelp/yelp-fusion/blob/master/fusion/php/sample.php

and apply the API key in
line number 25 :-     assert($API_KEY, "--------API KEY----------");

please help me

[2018-01-19 18:26] tomelm commented on #196
Hey @sriknthjanjirala1, you posted your api key again so we're going to disable that one, please be careful about posting them in the future.

We'll have someone on our side verify that the sample is working.

[2018-01-23 10:30] srikanthjanjirala1 opened #197 "how to make searchable for yelp API"
hi,
yelp api work very  well but how can i searchable them?
my code is

<?php
$curl = curl_init();
curl_setopt_array($curl, array(
  CURLOPT_URL => "https://api.yelp.com/v3/businesses/search?categories=restaurants&limit=10&sort_by=distance&offset=5&location=49 Geary St, San Francisco, CA 94108&price=1,2&radius=800&open_at=11",
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => "",
  CURLOPT_M

[2018-02-01 22:45] ajhakeem opened #198 "TOKEN_MISSING"
I am using Yelp Fusion API for a native Android application, utilizing Retrofit for making requests. I have repeatedly ensured that I am passing my API_KEY as a header in a GET request in the below format:

"Authorization: Bearer <API_KEY>"

I even printed out the headers of ongoing requests, and they are exactly as I stated above. I can request and successfully retrieve results via curl and Postm

[2018-02-01 23:07] dlgallagher commented on #198
Interesting. A couple questions that might help in debugging:

1. What is your client ID? (remember this is NOT the api key, which should never be posted publicly)
2. Could you please copy-paste in an excerpt of the headers you printed out for the Retrofit request (please redact any sensitive information, i.e. the api key)?
3. What is the curl request you used to compare that against? (again, plea

[2018-02-01 23:22] ajhakeem commented on #198
Firstly, sorry for posting in the wrong section!

1. My client ID is : ewYK-P0U1jzAtU-dGrm3bw
2. I am using an interceptor to modify the outgoing request with the headers. Note: I have also attempted to set headers both statically and dynamically. I have verified that the request definitely contains the headers because it correctly prints out 'Authorization: Bearer MY_API_KEY'.

`OkHttpClient.Buil

[2018-03-05 21:57] knewguy987 opened #199 "Yelp Fusion API PHP code sample not working after change to use API key instead of tokens"
The Yelp Fusion API PHP code sample is no longer working for me after the change to use an API key instead of tokens. The previous sample.php file worked properly for me before the change.

- I am signed up to the Yelp Fusion API and copied/pasted the API key under "Manage App" into the latest sample.php file committed on Dec 14, 2017
- I am using https://github.com/Yelp/yelp-fusion/blob/master/fu

[2018-03-05 21:58] #199 closed

[2018-03-14 14:36] TechhDan commented on #99
Hi,
Does anyone have a working sample of this? I've been trying but no luck.

`$.ajax({
    url: url,
    beforeSend: function(xhr) {
      xhr.setRequestHeader( "Authorization", "Bearer " + api_key);
    },
    method: 'GET',
    dataType: 'jsonp',
    jsonpCallback: 'cb',
    async: false,
    cache: true,
  }).done(function(result) {
    console.log(result)
  });`

[2018-03-16 16:13] virgytam commented on #196
Hi @sriknthjanjirala1, there is indeed a bug in the php sample code -- we aren't using the global $API_KEY and since it's not defined in the scope of the function, it's failing. I'll put out a fix for this.

[2018-03-16 16:36] virgytam commented on #196
pull request on @teekwak https://github.com/Yelp/yelp-fusion/pull/385

[2018-03-16 17:43] virgytam commented on #196
This is actually an issue on yelp-fusion, not yelp-api. This repo is for Public API V2 (just wanted to clarify)

The fix has been merged in for the V3/Fusion PHP sample

[2018-03-16 17:43] #196 closed

[2018-03-16 17:45] virgytam commented on #197
@sriknthjanjirala1 - this repo is for Public API V2, but this is a V3/Fusion issue. Can you close this and re-raise the issue in https://github.com/Yelp/yelp-fusion

[2018-03-16 17:48] virgytam commented on #197
hi @sriknthjanjirala1, this repo is actually for Public API V2 but your issue is with v3/Fusion. For Fusion related issues, please use the https://github.com/Yelp/yelp-fusion repo.

For this particular issue, I'm not quite understanding the question. Are you unable to view the query results? What does your search response look like? The response should look like the response here: https://www.yelp

[2018-07-18 02:01] dan98765 commented on #198
We are in the process of archiving this API v2 github repository, and as part of that are closing out all issues.

---
Announcement:
As of June 30, 2018, the API v2 has been discontinued and v2 endpoints no longer work. It has been replaced by [Yelp's Fusion API](https://www.yelp.com/fusion). This github repository is archived. There is a new Yelp Fusion-specific github repository at https://githu

[2018-07-18 02:01] #198 closed

[2018-07-18 02:02] dan98765 commented on #197
We are in the process of archiving this API v2 github repository, and as part of that are closing out all issues.

---
Announcement:
As of June 30, 2018, the API v2 has been discontinued and v2 endpoints no longer work. It has been replaced by [Yelp's Fusion API](https://www.yelp.com/fusion). This github repository is archived. There is a new Yelp Fusion-specific github repository at https://githu

[2018-07-18 02:02] #197 closed

[2018-07-18 02:02] dan98765 commented on #194
We are in the process of archiving this API v2 github repository, and as part of that are closing out all issues.

---
Announcement:
As of June 30, 2018, the API v2 has been discontinued and v2 endpoints no longer work. It has been replaced by [Yelp's Fusion API](https://www.yelp.com/fusion). This github repository is archived. There is a new Yelp Fusion-specific github repository at https://githu

[2018-07-18 02:02] #194 closed

[2018-07-18 02:02] dan98765 commented on #162
We are in the process of archiving this API v2 github repository, and as part of that are closing out all issues.

---
Announcement:
As of June 30, 2018, the API v2 has been discontinued and v2 endpoints no longer work. It has been replaced by [Yelp's Fusion API](https://www.yelp.com/fusion). This github repository is archived. There is a new Yelp Fusion-specific github repository at https://githu

[2018-07-18 02:02] #162 closed

[2018-07-18 02:02] dan98765 commented on #149
We are in the process of archiving this API v2 github repository, and as part of that are closing out all issues.

---
Announcement:
As of June 30, 2018, the API v2 has been discontinued and v2 endpoints no longer work. It has been replaced by [Yelp's Fusion API](https://www.yelp.com/fusion). This github repository is archived. There is a new Yelp Fusion-specific github repository at https://githu

[2018-07-18 02:02] #149 closed

[2018-07-18 02:02] dan98765 commented on #146
We are in the process of archiving this API v2 github repository, and as part of that are closing out all issues.

---
Announcement:
As of June 30, 2018, the API v2 has been discontinued and v2 endpoints no longer work. It has been replaced by [Yelp's Fusion API](https://www.yelp.com/fusion). This github repository is archived. There is a new Yelp Fusion-specific github repository at https://githu

[2018-07-18 02:02] #146 closed

[2018-07-18 02:02] dan98765 commented on #142
We are in the process of archiving this API v2 github repository, and as part of that are closing out all issues.

---
Announcement:
As of June 30, 2018, the API v2 has been discontinued and v2 endpoints no longer work. It has been replaced by [Yelp's Fusion API](https://www.yelp.com/fusion). This github repository is archived. There is a new Yelp Fusion-specific github repository at https://githu

[2018-07-18 02:02] #142 closed

[2018-07-18 02:02] dan98765 commented on #51
We are in the process of archiving this API v2 github repository, and as part of that are closing out all issues.

---
Announcement:
As of June 30, 2018, the API v2 has been discontinued and v2 endpoints no longer work. It has been replaced by [Yelp's Fusion API](https://www.yelp.com/fusion). This github repository is archived. There is a new Yelp Fusion-specific github repository at https://githu

[2018-07-18 02:02] #51 closed